openapi: "3.0.2"
info:
  title: Tokopedia
  version: "1.0"
  contact:
    email: dev@sirclo.com
    name: SIRCLO Tech
    url: https://sirclo.com
servers:
  - url: https://fs.tokopedia.net
components:
  schemas:
    Header:
      type: object
      properties:
        process_time:
          type: number
          format: float
          example: 5.871520385
        messages:
          type: string
          example: "Your request has been processed successfully"
    ErrorHeader:
      allOf:
        - $ref: "#/components/schemas/Header"
        - type: object
          properties:
            reason:
              type: string
              example: "Error Convert number format into string"
            error_code:
              type: string
              example: "PRD_USC_024"
    BaseErrorResponse:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/ErrorHeader"
        data:
          type: object
          example: null
    BaseResponse:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/Header"
    ProductBasic:
      type: object
      properties:
        productID:
          type: integer
          format: int64
          description: "Product Unique Identifier"
          example: 15245228
        shopID:
          type: integer
          format: int64
          description: "Shop Unique Identifier"
          example: 480829
        status:
          type: integer
          format: int64
          description: "Product Status (e.g., -2 for Banned, -1 for Pending, 0 for Deleted, 1 for Active, 2 for Best (Feature Product), 3 for Inactive (Warehouse))"
          example: 1
        Name:
          type: string
          description: "Product Name"
          example: "hxh wallpaper best la zzzz"
        condition:
          type: integer
          format: int64
          description: "Product Condition (e.g., 1 for New, 2 for Used)"
          example: 1
        childCategoryID:
          type: integer
          format: int64
          description: "Product Category Unique Identifier"
          example: 1828
        shortDesc:
          type: string
          description: "Product Description"
          example: "Best wallpaper for hxh"
    ProductPrice:
      type: object
      properties:
        value:
          type: integer
          format: int64
          description: "Product Price Value"
          example: 3000
        currency:
          type: integer
          format: int64
          description: "Product Price Currency"
          example: 1
        LastUpdateUnix:
          type: integer
          format: int64
          description: "Product Price Last Updated timer"
          example: 1557981264
        idr:
          type: integer
          format: int64
          description: "Price Value"
          example: 3000
    ProductWeight:
      type: object
      properties:
        value:
          type: integer
          format: int64
          description: "Product Weight Value"
          example: 5
        unit:
          type: integer
          format: int64
          description: "Weight (e.g., 1 for Gram, 2 for Kilogram)"
          example: 1
    ProductStock:
      type: object
      properties:
        useStock:
          type: boolean
          example: true
        value:
          type: integer
          format: int64
          description: "Product Total Stock"
          example: 10
    ProductStockWording:
      allOf:
        - $ref: "#/components/schemas/ProductStock"
        - type: object
          properties:
            stockWording:
              type: string
              description: "Product Stock Wording (Description)"
              example: "<b>Stok hampir habis!</b> Tersisa &lt;20"
    ProductVariant:
      type: object
      properties:
        isParent:
          type: boolean
          description: "Is Product Variant Parent?"
          example: true
        isVariant:
          type: boolean
          description: "Is Product Has Variants?"
          example: true
        childrenID:
          type: array
          description: List of Product Variant ID
          example: [15245978, 15245979]
          items:
            type: integer
    ProductMenu:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: "Etalase Unique Identifier"
          example: 1405065
        Name:
          type: string
          description: "Etalase Name"
          example: "Wallpapers"
    ProductPreOrder:
      type: object
      properties:
        duration:
          type: boolean
        unit:
          type: integer
          format: int64
        day:
          type: integer
          format: int64
    ProductExtraAttribute:
      type: object
      properties:
        minOrder:
          type: integer
          format: int64
          description: "Minimum Order"
          example: 1
        lastUpdateCategory:
          type: integer
          format: int64
          description: "Product Category Last Updated time"
          example: 1554708202
        isEligibleCOD:
          type: boolean
          description: "Is Product Eligible for COD?"
          example: true
        isOnCampaign:
          type: boolean
          description: "Is Product on Campaign?"
          example: true
    ProductWholesalePrice:
      type: object
      properties:
        value:
          type: integer
          format: int64
          description: "Product Price Value"
          example: 10000
        currency:
          type: integer
          format: int64
          description: "Product Price Currency"
          example: 1
        idr:
          type: integer
          format: int64
          description: "Price Value"
          example: 10000
    ProductWholesale:
      type: object
      properties:
        price:
          $ref: "#/components/schemas/ProductWholesalePrice"
        minQuantity:
          type: integer
          format: int64
          example: 2
        maxQuantity:
          type: integer
          format: int64
          example: 2
    ProductCategoryTree:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: "Category Unique Identifier"
          example: 1759
        Name:
          type: string
          description: "Category Name"
          example: "Fashion Pria"
        title:
          type: string
          description: "Category Title"
          example: "Fashion Pria"
        breadcrumbURL:
          type: string
          description: "Category URL"
          example: "https://staging.tokopedia.com/p/fashion-pria"
    ProductPicture:
      type: object
      properties:
        picID:
          type: integer
          format: int64
          description: "Image Unique Identifier"
          example: 21189631
        fileName:
          type: string
          description: "Image File Name"
          example: "5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
        filePath:
          type: string
          description: "Image Path"
          example: "product-1/2019/3/12/5510908"
        status:
          type: integer
          format: int64
          description: "Image Status"
          example: 2
        OriginalURL:
          type: string
          description: "Original Image URL"
          example: "https://ecs7.tokopedia.net/img/cache/700/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
        ThumbnailURL:
          type: string
          description: "Thumbnail Image URL"
          example: "https://ecs7.tokopedia.net/img/cache/200-square/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
        width:
          type: integer
          format: int64
          description: "Image Width Size"
          example: 1920
        height:
          type: integer
          format: int64
          description: "Image Height"
          example: 1080
        URL300:
          type: string
          description: "Image URL"
          example: "https://ecs7.tokopedia.net/img/cache/300/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
    ProductGMStat:
      type: object
      properties:
        transactionSuccess:
          type: integer
          format: int64
          example: 3
        transactionReject:
          type: integer
          format: int64
          example: 69
        countSold:
          type: integer
          format: int64
          example: 3
    ProductStats:
      type: object
      properties:
        countView:
          type: integer
          format: int64
          example: 163
    ProductOther:
      type: object
      properties:
        sku:
          type: string
          description: "Product SKU Name"
          example: "12345"
        url:
          type: string
          description: "Product URL (website)"
          example: "https://staging.tokopedia.com/mattleeshoppe/hxh-wallpaper-best-la-zzzz"
        mobileURL:
          type: string
          description: "Product URL (mobile phone)"
          example: "https://m-staging.tokopedia.com/mattleeshoppe/hxh-wallpaper-best-la-zzzz"
    ProductCampaign:
      type: object
      properties:
        StartDate:
          type: string
          description: "Campaign Start Date (if any)"
          example: "0001-01-01T00:00:00Z"
        EndDate:
          type: string
          description: "Campaign End Date (if any)"
          example: "0001-01-01T00:00:00Z"
    ProductVolume:
      type: object
      properties:
        length:
          type: integer
          description: "Product Length"
        width:
          type: integer
          description: "Product Width"
        height:
          type: integer
          description: "Product Height"
    ProductBundle:
      type: object
      properties:
        bundleID:
          type: integer
          format: int64
          description: "Bundle Unique Identifier"
        Name:
          type: string
          description: "Bundle Name"
        Type:
          type: integer
          format: int64
          description: "Bundle Type"
        status:
          type: integer
          format: int64
          description: "Bundle Status"
        shopID:
          type: integer
          format: int64
          description: "Shop Unique Identifier"
        startTimeUnix:
          type: integer
          format: int64
          description: "Bundle Start Time"
        stopTimeUnix:
          type: integer
          format: int64
          description: "Bundle End Time"
    ProductWarehouse:
      type: object
      properties:
        productID:
          type: integer
          format: int64
        warehouseID:
          type: integer
          format: int64
        price:
          $ref: "#/components/schemas/ProductPrice"
        stock:
          $ref: "#/components/schemas/ProductStock"
        bundle:
          $ref: "#/components/schemas/ProductBundle"
    Product:
      type: object
      properties:
        basic:
          $ref: "#/components/schemas/ProductBasic"
        price:
          $ref: "#/components/schemas/ProductPrice"
        weight:
          $ref: "#/components/schemas/ProductWeight"
        stock:
          $ref: "#/components/schemas/ProductStockWording"
        main_stock:
          type: integer
          format: int64
          description: "Product Stock (Not Reserved)"
          example: 7
        reserve_stock:
          type: integer
          format: int64
          description: "Product Stock that Reserved (ex: FlashSale)"
          example: 3
        variant:
          $ref: "#/components/schemas/ProductVariant"
        menu:
          $ref: "#/components/schemas/ProductMenu"
        preorder:
          $ref: "#/components/schemas/ProductPreOrder"
        extraAttribute:
          $ref: "#/components/schemas/ProductExtraAttribute"
        wholesale:
          type: array
          items:
            $ref: "#/components/schemas/ProductWholesale"
        categoryTree:
          type: array
          items:
            $ref: "#/components/schemas/ProductCategoryTree"
        pictures:
          type: array
          items:
            $ref: "#/components/schemas/ProductPicture"
        GMStats:
          $ref: "#/components/schemas/ProductGMStat"
        stats:
          $ref: "#/components/schemas/ProductStats"
        other:
          $ref: "#/components/schemas/ProductOther"
        campaign:
          $ref: "#/components/schemas/ProductCampaign"
        volume:
          $ref: "#/components/schemas/ProductVolume"
        warehouses:
          type: array
          items:
            $ref: "#/components/schemas/ProductWarehouse"
    GetProductResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Product"
    VariantUnitValue:
      type: object
      properties:
        variant_unit_value_id:
          type: integer
          format: int64
        status:
          type: integer
          format: int64
        value:
          type: string
        equivalent_value_id:
          type: integer
          format: int64
        english_value:
          type: string
        hex:
          type: string
        icon:
          type: string
    VariantUnit:
      type: object
      properties:
        variant_unit_id:
          type: integer
          format: int64
        status:
          type: integer
          format: int64
        unit_name:
          type: string
        unit_short_name:
          type: string
        unit_values:
          type: array
          items:
            $ref: "#/components/schemas/VariantUnitValue"
    VariantDetail:
      type: object
      properties:
        variant_id:
          type: integer
          format: int64
        has_unit:
          type: integer
          format: int64
        identifier:
          type: string
        name:
          type: string
        status:
          type: integer
          format: int64
        units:
          type: array
          items:
            $ref: "#/components/schemas/VariantUnit"
        is_primary:
          type: integer
          format: int64
    Variant:
      type: object
      properties:
        category_id:
          type: integer
          format: int64
        variant_id_combinations:
          type: array
          items:
            type: array
            items:
              type: integer
              format: int64
        variant_details:
          type: array
          items:
            $ref: "#/components/schemas/VariantDetail"
    GetVariantResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/Variant"
  parameters:
    fs_id:
      name: fs_id
      in: path
      required: true
      description: "Fulfillment service unique identifier"
      schema:
        type: integer
        format: int64
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /inventory/v1/fs/{fs_id}/product/info:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    get:
      description: "This method will retrieve single product information either by product id as parameter (choose one of those two parameters to use) from related fs_id."
      parameters:
        - name: product
          in: query
          required: false
          description: "Can input more than one product_id"
          schema:
            type: string
        - name: product_url
          in: query
          required: false
          description: "Can input more than one product_url"
          schema:
            type: string
        - name: sku
          in: query
          required: false
          description: "Product’s SKU"
          schema:
            type: string
        - name: shop_id
          in: query
          required: false
          description: "Shop Identifier"
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          required: false
          description: "Determine which page the order list should start. The minimal value is 1. Page (required if shop_id is filled)"
          schema:
            type: integer
            format: int64
        - name: per_page
          in: query
          required: false
          description: "Page per item (required if shop_id is filled). Maximun items are 50 for 1 page"
          schema:
            type: integer
            format: int64
        - name: last_sort
          in: query
          required: false
          description: "This parameter is required when the product exceeds 10.000 products"
          schema:
            type: string
      responses:
        "default":
          description: Default error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProductResponse"
  /inventory/v2/fs/{fs_id}/category/get_variant:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    get:
      description: "This endpoint retrieves a list of variants related to a category_id. Use this API as main source to retrieve the newest category variant data."
      parameters:
        - name: cat_id
          in: query
          required: true
          description: "Category unique identifier"
          schema:
            type: integer
            format: int64
      responses:
        "default":
          description: Default error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVariantResponse"
security:
  - bearer: []
