openapi: "3.0.2"
info:
  title: Tokopedia API
  description: Tokopedia API
  version: "1.0"
  contact:
    email: dev@sirclo.com
    name: SIRCLO Tech
    url: https://sirclo.com
servers:
  - url: https://fs.tokopedia.net
    description: Seller API
components:
  schemas:
    ResponseHeader:
      type: object
      properties:
        process_time:
          type: number
          format: double
        messages:
          type: string
        reason:
          type: string
        error_code:
          $ref: "#/components/schemas/ErrorCodes"
    ProductStatusCode:
      type: integer
      format: int64
      description: >
        Product status code:
        * -2 - Banned
        * -1 - Pending
        * 0 - Deleted
        * 1 - Active
        * 3 - Inactive (Warehouse)
    OrderStatusCode:
      type: integer
      format: int64
      description: >
        Order status code:
        * 0 - Seller cancel order.
        * 3 - Order Reject Due Empty Stock.
        * 5 - Order Canceled by Fraud
        * 6 - Order Rejected (Auto Cancel Out of Stock)
        * 10 - Order rejected by seller.
        * 15 - Instant Cancel by Buyer.
        * 100 - Order Created.
        * 103 - Wait for payment confirmation from third party.
        * 220 - Payment verified, order ready to process.
        * 221 - Waiting for partner approval.
        * 400 - Seller accept order.
        * 450 - Waiting for pickup.
        * 500 - Order shipment.
        * 501 - Status changed to waiting resi have no input.
        * 520 - Invalid shipment reference number (AWB).
        * 530 - Requested by user to correct invalid entry of shipment reference number.
        * 540 - Delivered to Pickup Point.
        * 550 - Return to Seller.
        * 600 - Order delivered.
        * 601 - Buyer open a case to finish an order.
        * 690 - Fraud Review
        * 700 - Order finished.
    OrderRejectReason:
      type: integer
      format: int64
      description: >
        Order reject reason:
        * empty/0 - Only for reject shipping case - reason required with max length 200 characters
        * 1 - Product(s) out of stock
        * 2 - Product variant unavailable
        * 3 - Wrong price or weight
        * 4 - Shop closed. close_end and closed_note required
        * 5 - Others
        * 7 - Courier problem - reason required with max length 200 characters
        * 8 - Buyer’s request - reason required with max length 200 characters
    ErrorCodes:
      type: string
      description: >
        Error codes:
        * BDL_DLV_001 - Invalid request body, please check again - Invalid request body, please check again
        * BDL_DLV_002 - Invalid field %s format, value %v should be %s - Invalid params, please check again
        * BDL_DLV_013 - Filter type must be 1 or 2 and cannot be empty - Invalid filter value, please check again
        * BDL_USC_001 - FS ID is not associated with Shop ID or Warehouse ID - fs_id is not associated, please check again
        * BDL_USC_002 - Shop Info not found - Shop information cannot be found
        * BDL_USC_003 - Too many or too few bundle items given for this type of bundle - The number of bundle item is not right for this type of bundle
        * BDL_USC_004 - 2 or more same products in bundle - Multiple bundle must consist of minimum two different products
        * BDL_USC_005 - Different products in single bundle - Single bundle only accept same products
        * BDL_USC_006 - Please use different min order for each bundle item - Please use different min order
        * BDL_USC_007 - Min Order of single type bundle must be greater than 1 - Please set the minimum order more than 1
        * BDL_USC_009 - Bundle item price must be lower than its original price - Please set the bundle item price lower than the original price
        * BDL_USC_010 - Bundle item stock cannot be empty - Please add the bundle item stock
        * BDL_USC_012 - One of the product variant is invalid - There is invalid product variant on the bundle
        * CMP_DLV_001 - Invalid field %s format, value %v should be %s - There is invalid request format
        * CMP_DLV_002 - Product IDs must be numeric and comma separated - Invalid Product IDs format, please kindly check
        * CMP_DLV_003 - Value of field %s exceed limit %s=%d - There is invalid request format
        * CMP_DLV_004 - product_id cannot be empty - Product ID is empty, please kindly check
        * CMP_GRPC_001 - Failed Send GRPC Request - Failed sending request to upstream
        * CMP_GRPC_003 - Data Not Found - Data not found from upstream
        * CMP_GRPC_004 - Failed Marshalling JSON - Failed processing request to upstream
        * CMP_GRPC_005 - Failed Unmarshal JSON - Failed processing response from upstream
        * CMP_USC_001 - fs_id Is Not Associated With Shop ID or Warehouse ID - FS ID is not associated
        * CMP_USC_002 - Some Product ID Is Not Own By Current Shop ID - Some Product ID is not owned by current Shop ID
        * CMP_USC_003 - Invalid Product ID Format - Invalid Product ID format, please kindly check
        * ETS_USC_001 - fs_id Is Not Associated With Shop ID or Warehouse ID - FS ID is not associated, please kindly check
        * ORD_API_001 - Failed To Initialize Request - Failed sending request to upstream
        * ORD_API_003 - Failed To Fetching Request - Failed fetching response from upstream
        * ORD_API_004 - Failed To Reading Response Body - Failed processing response from upstream
        * ORD_API_005 - Failed To Parsing Json Response - Failed processing response from upstream
        * ORD_API_006 - There Are Error From Ext Service - Failed getting response from upstream
        * ORD_API_008 - Data Not Found - Order data not found
        * ORD_API_009 - Error Data Order Too Big, Must Reduce Time Interval - Response is too large, please reduce the time interval
        * ORD_API_010 - Partial Fulfillment Quantity must be lower than ordered - POF request quantity must be lower than initial order quantity
        * ORD_API_011 - Partial Fulfillment Request have been made before - POF request has already been made
        * ORD_API_012 - Order Bundle is not eligible for partial order fulfillment - POF is not eligible with bundling
        * ORD_API_013 - There's no change in the product quantity for partial order fulfillment - POF request quantity is the same as initial order quantity
        * ORD_API_016 - FS ID not authorized to reject cancel request - FS ID is not eligible to reject the buyer request cancellation
        * ORD_DLV_001 - fs_id cannot be empty - fs_id field is empty, please check again
        * ORD_DLV_002 - invalid fs_id format - Invalid fs_id format, please check again
        * ORD_DLV_003 - error order id and invoice no is empty - Both Order ID and Invoice Number is empty
        * ORD_DLV_004 - error must choose either order id or invoice no as parameter - Please choose either Order ID or Invoice Number to be filled
        * ORD_DLV_005 - invalid order_id format - Invalid order_id format, please check again
        * ORD_DLV_006 - invalid shop_id format - Invalid shop_id format, please check again
        * ORD_DLV_007 - invalid warehouse_id format - Invalid warehouse_id format, please check again
        * ORD_DLV_008 - please choose one between shop id or warehouse id - Please choose either Shop ID or Warehouse ID to be filled
        * ORD_DLV_009 - from_date cannot be empty - from_date is empty, please check again
        * ORD_DLV_010 - invalid from_date format - Invalid from_date format, please check again
        * ORD_DLV_011 - to_date cannot be empty - to_date is empty, please check again
        * ORD_DLV_012 - invalid to_date format - Invalid to_date format, please check again
        * ORD_DLV_013 - Date Range must be less than %d days
        * ORD_DLV_014 - page cannot be empty - page is empty, please check again
        * ORD_DLV_015 - invalid page format - Invalid page format, please check again
        * ORD_DLV_016 - per_page cannot be empty - per_page is empty, please check again
        * ORD_DLV_017 - invalid per_page format - Invalid per_page format, please check again
        * ORD_DLV_018 - invalid status format - Invalid status format, please check again
        * ORD_DLV_019 - failed read body request - Failed read body request, please check again
        * ORD_DLV_020 - wrong json format - Wrong JSON body format, please check again
        * ORD_DLV_021 - shipping ref number cannot be empty for confirm shipping - Shipping Ref Number is empty and is needed for confirm shipping, please check again
        * ORD_DLV_022 - Shop ID cannot be empty for set delivered - Shop ID is empty and is needed for set delivered, please check again
        * ORD_DLV_023 - order status is not supported - Order Status is not supported
        * ORD_DLV_025 - invalid next_order_id format - Invalid next_order_id format, please check again
        * ORD_DLV_028 - invalid order_type param value - Invalid order_type param value, please check again
        * ORD_DLV_029 - invalid order_type param format - Invalid order_type format, please check again
        * ORD_USC_001 - Order Status not eligible to accept - Order status is not eligible to be changed to accept
        * ORD_USC_002 - Order ID is not fulfillment
        * ORD_USC_003 - Order ID from warehouse id is not authenticate - Order ID is not associated with Warehouse ID
        * ORD_USC_004 - Order ID need to be fulfilled by toko cabang
        * ORD_USC_005 - Order ID from shop id is not authenticate - Order ID is not associated with Shop ID
        * ORD_USC_006 - Admin ID Not Found From Shop ID
        * ORD_USC_007 - Error When Request Accept Order To Ext Service - Failed getting response from upstream
        * ORD_USC_008 - Order Status not eligible to reject - Order status it not eligible to changed to reject
        * ORD_USC_009 - Mandatory To Fill Reason - It is required to fill reject reason
        * ORD_USC_010 - Failed Getting Products - Failed getting product information
        * ORD_USC_011 - No Matching product id
        * ORD_USC_012 - Mandatory To Fill Shop Close End Date and Note - It is required to fill shop close end date and note
        * ORD_USC_013 - Shop Close End Date Present But Invalid - Invalid shop close end date value
        * ORD_USC_014 - Error When Request Reject Order To Ext Service - Failed getting response from upstream
        * ORD_USC_015 - FS ID Is Not Associated With Shop ID or Warehouse ID - FS ID is not associated with Shop ID or Warehouse ID
        * ORD_USC_016 - Order ID Status Must Be 500 (In Shipping Process) to Update Into Set Delivered
        * ORD_USC_018 - Order ID from warehouse id is not authenticate - Order ID is not associated with Warehouse ID
        * ORD_USC_019 - Order need to get request cancellation first from buyer
        * ORD_USC_020 - You are not allowed to reject this order
        * ORD_USC_024 - FS ID not associated with Shop ID - FS ID is not associated with Shop ID
        * PRD_API_001 - Failed To Initialize Request - Failed initialize request to upstream
        * PRD_API_003 - Failed To Fetching Request - Failed fetching request from upstream
        * PRD_API_004 - Failed To Reading Response Body - Error on processing data
        * PRD_API_005 - Failed To Parsing Json Response - Error on processing data
        * PRD_API_006 - There Are Error From Ext Service - There is error from external service
        * PRD_API_007 - Failed Marshalling JSON - Error on processing data
        * PRD_CACHE_001 - Failed retrieve new upload id - Error on processing data
        * PRD_CACHE_002 - Failed Marshall Cache Key Value - Error on processing data
        * PRD_CACHE_003 - Failed To Make Cache - Error on processing data
        * PRD_CACHE_005 - Data Not Found - Error on processing data
        * PRD_CACHE_006 - Failed to retrieve cache data - Error on processing data
        * PRD_CACHE_007 - Failed Unmarshal cache response - Error on processing data
        * PRD_DB_001 - Failed To Query DB Data - Failed getting data from database
        * PRD_DB_002 - Failed To Scan DB Data - Failed getting data from database
        * PRD_DB_003 - Data Not Found - Failed getting data from database
        * PRD_DLV_001 - fs_id cannot be empty - fs_id field is empty, please check again
        * PRD_DLV_002 - invalid fs_id format - fs_id is in the wrong format, please check again
        * PRD_DLV_003 - invalid shop_id format - shop_id is in the wrong format, please check again
        * PRD_DLV_005 - page cannot be empty when shop_id or warehouse_id is filled - fs_id is in the wrong format, please check
        * PRD_DLV_015 - failed read body request - Failed reading the body request
        * PRD_DLV_016 - shop_id cannot be empty - shop_id field is empty, please check again
        * PRD_DLV_018 - Max allowed products per-update are %d products - The request has exceed the max allowed product price edit per request
        * PRD_DLV_019 - invalid warehouse_id format - warehouse_id is in the wrong format, please check again
        * PRD_DLV_038 - Value %s of field %s is not allowed, the allowed fields are %s - There is something wrong with the request body
        * PRD_DLV_042 - Invalid field %s format, value %v should be %s - There is something wrong with the request body
        * PRD_DLV_043 - Invalid request body, please check again - There is something wrong with the request body
        * PRD_DLV_052 - warehouse_id cannot be empty - warehouse_id is empty, please check again
        * PRD_DLV_055 - warehouse_id is not eligible to perform this operation - warehouse_id is not eligible, please check again
        * PRD_GRPC_001 - Failed Send GRPC Request - Failed sending request to upstream
        * PRD_GRPC_002 - There Are Error From Ext Service - Failed getting response from upstream
        * PRD_GRPC_003 - Data Not Found - Product not found
        * PRD_USC_001 - fs_id Is Not Associated With Shop ID or Warehouse ID - fs_id not associated, please check again
        * PRD_USC_008 - Mandatory To Fill Warehouse ID - warehouse_id is empty, please check again
        * PRD_USC_009 - Warehouse is not owned by toko cabang
        * PRD_USC_010 - Warehouse is owned by toko cabang
        * PRD_USC_011 - Partner ID not found - Failed to get Partner ID
        * PRD_USC_012 - Shop ID Not Match - Shop ID did not match with warehouse data
        * PRD_USC_013 - FS Type cannot use warehouse - Failed to precess data
        * PRD_USC_015 - Failed Epoch converter today - Error on processing data
        * PRD_USC_021 - Warehouse Data Not Found - Warehouse ID not found
        * PRD_USC_024 - Error Convert number format into string - Failed getting response from upstream
        * PRD_USC_025 - Shop ID is not associated with upload id - Shop ID not associated, please check again
        * PRD_USC_027 - Invalid action parameter value - invalid action value, please check again
        * PRD_USC_028 - Product Status Not In Active or Warehouse. Edit Process Canceled - Unable to edit product because the status is not active or warehouse
        * PRD_USC_029 - Warehouse ID Information Not Found - Failed to get warehouse information
        * RBAC_MDLW_001 - FS ID is not associated with Shop ID or Warehouse ID - fs_id not assosiated, please check again
        * RBAC_MDLW_002 - This shop owner has not given permission for your app to use this API on the shop - Application does not have shop permission
        * RBAC_USC_008 - App is not associated with shop - Application not assosiated, please check again
        * RBAC_USC_012 - This shop owner has not given permission for your app to use this API on the shop - Application does not have shop permission
        * SHP_API_003 - Failed To Fetching Request - Failed fetching response from upstream
        * SHP_DLV_001 - FS ID is not valid - Invalid FS ID, please kindly check
        * SHP_DLV_002 - Shop ID is not valid - Invalid Shop ID, please kindly check
        * SHP_DLV_003 - Page format is not valid - Invalid Page format, please kindly check
        * SHP_DLV_004 - Per Page format is not valid - Invalid Per Page format, please kindly check
        * SHP_DLV_005 - Date format is not valid - Invalid Date format, please kindly check
        * SHP_DLV_007 - Date Range must be less than %d days - Invalid Date Range value, please kindly check
        * SHP_DLV_008 - failed read body request - Failed read body request, please kindly check
        * SHP_DLV_009 - invalid hide_zero format - Invalid hide_zero format, please kindly check
        * SHP_DLV_010 - page_count value exceed limit - Invalid page_count value, please kindly check
        * SHP_DLV_011 - invalid display value - Invalid display value, please kindly check
        * SHP_DLV_012 - fs_id cannot be empty - fs_id is empty, please kindly check
        * SHP_DLV_013 - shop_id cannot be empty - shop_id is empty, please kindly check
        * SHP_DLV_014 - invalid page_count format - invalid page_count format, please kindly check
        * PRD_DLV_045 - Field %s should not be empty, please fill the empty field - Please check the request params again
        * SHP_GRPC_001 - Failed Send GRPC Request - Failed sending request to upstream
        * SHP_GRPC_002 - There Are Error From Ext Service - Failed getting response from upstream
        * SHP_GRPC_003 - Data Not Found - Failed finding data from upstream
        * SHP_USC_001 - FS ID is not associated with Shop ID - FS ID is not connected with the Shop ID, please kindly check
        * SHP_USC_002 - Shop Owner is not found - Shop owner info not found, please kindly check
        * SHP_USC_004 - Shop information is empty - Failed getting shop info, please kindly check
        * SPE_DLV_001 - fs_id cannot be empty - FS ID is empty
        * SPE_DLV_005 - Invalid field %s format, value %v should be %s - Invalid field format, please kindly check
        * SPE_DLV_006 - Invalid request body, please check again - Invalid request body, please kindly check
        * SPE_DLV_007 - Value of field %s exceed limit %s=%d - Invalid field value, please kindly check
        * SPE_DLV_008 - Value %s of field %s is not allowed, the allowed fields are %s - Invalid field value, please kindly check
        * SPE_GRPC_001 - Failed Send GRPC Request - Failed sending request to upstream
        * SPE_GRPC_003 - Data Not Found - Data not found
        * SPE_GRPC_004 - Failed Marshalling JSON - Failed processing request to upstream
        * SPE_GRPC_005 - Failed Unmarshal JSON - Failed processing response from upstream
        * SPE_USC_001 - fs_id Is Not Associated With Shop ID or Warehouse ID - FS ID is not associated, please kindly check
        * SPE_USC_002 - Product ID does not belong to Shop ID or Warehouse ID - Product ID is not associated, please kindly check
        * SPE_USC_003 - Warehouse ID Information Not Found - Warehouse information not found, please kindly check
        * SPE_USC_004 - Cannot View Slash Price Information Parent Product Variant
        * VRT_DLV_001 - fs_id cannot be empty - There is invalid request params
        * VRT_DLV_002 - invalid fs_id format - There is invalid request params
        * VRT_DLV_004 - Invalid cat_id format - There is invalid request params
        * VRT_DLV_005 - invalid product_id format - There is invalid request params
        * VRT_USC_001 - fs_id Is Not Associated With Shop ID or Warehouse ID - fs_id not associated, please check again
        * VRT_USC_002 - Category ID Not Found - Category ID not found, please check again
    WebhookOrderNotification:
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        order_id:
          description: Order unique identifier
          type: integer
          format: int64
        accept_partial:
          description: Flag which determines if the order is partially accepted
          type: boolean
        invoice_num:
          description: Invoice reference number
          type: string
        products:
          description: Products data
          type: array
          items:
            type: object
            properties:
              id:
                description: Product ID
                type: integer
                format: int64
              # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
              Name:
                description: Product name
                type: string
              quantity:
                description: Product quantity
                type: integer
                format: int64
              notes:
                description: Product notes
                type: string
              weight:
                type: number
                format: double
              total_weight:
                type: number
                format: double
              price:
                description: Product price
                type: integer
                format: int64
              total_price:
                description: Total price
                type: integer
                format: int64
              currency:
                description: Currency code
                type: string
              sku:
                description: SKU code
                type: string
              is_eligible_pof:
                description: Flag which determines if the product is eligible for POF
                type: boolean
        # WARN: customer di dokumentasi ditulis array, tapi di contoh berupa object
        customer:
          description: Customer data
          type: object
          properties:
            id:
              description: Customer ID
              type: integer
              format: int64
            # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
            Name:
              description: Customer name
              type: string
            phone:
              description: Customer phone (Masked)
              type: string
            # WARN: email ada di contoh payload tapi tidak ada di dokumentasi
            email:
              type: string
        # WARN: recipient di dokumentasi ditulis array, tapi di contoh berupa object
        recipient:
          description: Recipient data
          type: object
          properties:
            # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
            Name:
              description: Recipient Name
              type: string
            phone:
              description: Recipient Phone Number
              type: string
            address:
              description: Recipient Address
              type: object
              properties:
                address_full:
                  description: Complete Address
                  type: string
                district:
                  description: District name
                  type: string
                city:
                  description: City name
                  type: string
                province:
                  description: Province name
                  type: string
                country:
                  description: Country name
                  type: string
                postal_code:
                  description: Postal Code
                  type: string
                district_id:
                  description: District ID
                  type: integer
                  format: int64
                city_id:
                  description: City ID
                  type: integer
                  format: int64
                province_id:
                  description: Province ID
                  type: integer
                  format: int64
                geo:
                  description: Longitude and Latitude position for instant delivery
                  type: string
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        warehouse_id:
          description: Warehouse unique identifier
          type: integer
          format: int64
        shop_name:
          description: Shop name
          type: string
        payment_id:
          description: Payment unique identifier
          type: integer
          format: int64
        # WARN: logistics di dokumentasi ditulis array, tapi di contoh berupa object
        logistics:
          description: Logistics data
          type: object
          properties:
            shipping_id:
              description: Shipping id
              type: integer
              format: int64
            district_id:
              description: District ID
              type: integer
              format: int64
            city_id:
              description: City ID
              type: integer
              format: int64
            # WARN: province_id ada di dokumentasi tidak ada di contoh payload
            province_id:
              description: Province ID
              type: integer
              format: int64
            geo:
              description: Longitude and Latitude position for instant delivery
              type: string
            shipping_agency:
              description: Shipping agency
              type: string
            service_type:
              description: Service type
              type: string
            # WARN: akan lebih baik jika terdapat shipping detail pickup dan delivery
        # WARN: amt di dokumentasi ditulis array, tapi di contoh berupa object
        amt:
          description: Amount data
          type: object
          properties:
            ttl_product_price:
              description: Total product price
              type: integer
              format: int64
            shipping_cost:
              description: Shipping rate
              type: integer
              format: int64
            insurance_cost:
              description: Insurance price
              type: integer
              format: int64
            ttl_amount:
              description: Total amount
              type: integer
              format: int64
            voucher_amount:
              description: Voucher amount
              type: integer
              format: int64
            toppoints_amount:
              description: Toppoints amount
              type: integer
              format: int64
        # WARN: dropshipper_info di dokumentasi ditulis array, tapi di contoh berupa object
        dropshipper_info:
          description: Dropshipper information
          type: object
          properties:
            # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
            Name:
              description: Dropshipper Name
              type: string
            phone:
              description: Dropshipper Phone number
              type: string
        # WARN: voucher_info di dokumentasi ditulis array, tapi di contoh berupa object
        voucher_info:
          description: Voucher information
          type: object
          properties:
            voucher_type:
              description: Voucher Type
              type: integer
              format: int64
            voucher_code:
              description: Voucher Code
              type: string
        device_type:
          description: User device type
          type: string
        create_time:
          description: Time in UNIX timestamp
          type: integer
          format: int64
        order_status:
          $ref: "#/components/schemas/OrderStatusCode"
        custom_fields:
          description: A map of String to String for custom fields for future
          type: object
          additionalProperties: {}
        encryption:
          description: Contains secret and encrypted buyer information
          type: object
          properties:
            secret:
              description: Contains String used to generate key for content
              type: string
            content:
              description: Contains encrypted buyer information
              type: string
        bundle_detail:
          description: Contains bundle information
          type: object
          properties:
            total_product:
              type: integer
              format: int64
            product_bundling_icon:
              type: string
            bundle:
              description: Contains information about bundle items in the order
              type: array
              items:
                type: object
                properties:
                  bundle_id:
                    type: integer
                    format: int64
                  bundle_variant_id:
                    type: string
                  bundle_name:
                    type: string
                  bundle_price:
                    type: integer
                    format: int64
                  bundle_quantity:
                    type: integer
                    format: int64
                  bundle_subtotal_price:
                    type: integer
                    format: int64
                  order_detail:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                        # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
                        Name:
                          type: string
                        quantity:
                          type: integer
                          format: int64
                        price:
                          type: integer
                          format: int64
                        weight:
                          type: number
                          format: double
                        total_weight:
                          type: number
                          format: double
                        subtotal_price:
                          type: integer
                          format: int64
                        notes:
                          type: string
                        Currency:
                          type: string
                        sku:
                          type: string
                        bundle_id:
                          type: integer
                          format: int64
                        bundle_variant_id:
                          type: integer
                          format: int64
            non_bundle:
              description: Contains information about non-bundle items in bundled item
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
                  Name:
                    type: string
                  quantity:
                    type: integer
                    format: int64
                  notes:
                    type: string
                  weight:
                    type: number
                    format: double
                  total_weight:
                    type: number
                    format: double
                  price:
                    type: integer
                    format: int64
                  total_price:
                    type: integer
                    format: int64
                  currency:
                    type: string
                  sku:
                    type: string
        is_plus:
          description: Flag which determines if the order is a Plus order
          type: boolean
    WebhookOrderStatusCancellation:
      type: object
      properties:
        order_status:
          $ref: "#/components/schemas/OrderStatusCode"
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        order_id:
          description: Order unique identifier
          type: integer
          format: int64
        product_details:
          description: List of products
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int64
              # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
              Name:
                type: string
              notes:
                type: string
              currency:
                type: string
              weight:
                type: number
                format: double
              total_weight:
                type: number
                format: double
              price:
                type: integer
                format: int64
              total_price:
                type: integer
                format: int64
              quantity:
                type: integer
                format: int64
              sku:
                type: string
    WebhookOrderRequestCancellation:
      type: object
      properties:
        order_id:
          description: Requested order unique identifier
          type: integer
          format: int64
    WebhookStockOverwriteNotification:
      description: |
        Stock Overwrite is notification that show information overwrite main stock into new value.
        This notification will be trigger when :
        - Edit Stock At Seller Dashboard
        - Hit Open API Edit Product Endpoint by change stock into new value
      type: object
      properties:
        fs_id:
          type: integer
          format: int64
        product_changes_data:
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: stock_overwrite
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New overwrite main stock value
                type: string
              previous_value:
                description: Previous main stock value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to overwrite stock
                type: boolean
    WebhookStockDecrementNotification:
      description: |
        Stock Decrement is notification that show information decrement stock into new value.
        This notification will be trigger when :
        - New Order with Payment Verified Status (order status 220)
        - Hit Open API Update Stock
        - Created new reserve stock by join campaign
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: stock_decrement
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New decrement stock value
                type: string
              previous_value:
                description: Previous main stock value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to decrement stock
                type: boolean
    WebhookStockIncrementNotification:
      description: |
        Stock Increment is notification that show information increment stock into new value.
        This notification will be trigger when :
        - Order Rejected (order status 10)
        - Hit Open API Update Stock)
        - Transfer back remaining reserve stock by the end of campaign
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: stock_increment
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New decrement stock value
                type: string
              previous_value:
                description: Previous main stock value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to decrement stock
                type: boolean
    WebhookStockAlertNotification:
      description: |
        Stock Alert is notification that show information alert stock into new value.
        This notification will be trigger when :
        - Edit Stock Alert At Seller Dashboard
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: stock_alert_changes
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New decrement stock value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to decrement stock
                type: boolean
    WebhookPriceChangeNotification:
      description: |
        Price Changes is notification that show information new price value.
        This notification will be trigger when :
        - Hit Open API Update Price
        - Edit Price At Seller Dashboard
        - Hit Open API Edit Product Endpoint by change price into new value(
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: price_changes
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New price value
                type: string
              previous_value:
                description: Previous price value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to decrement stock
                type: boolean
    WebhookProductStatusChangeNotification:
      description: |
        Status Changes is notification that show information new product status value.
        This notification will be trigger when :
        - Hit Open API Update Stock
        - Hit Open API Set Active Product
        - Hit Open API Set Inactive Product
        - Hit Open API Set Delete Product
        - Edit Status At Seller Dashboard
        - Hit Open API Edit Product Endpoint by change status into new value
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: status_changes
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              value:
                description: New price value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
    WebhookProductCreation:
      description: This notification will be trigger when using Create Product V2.0.[https://developer.tokopedia.com/openapi/guide/api-reference/tokopedia/product-api/create-product]
      type: object
      properties:
        upload_id:
          description: Upload id of the product to check Notification
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        user_id:
          description: User unique identifier
          type: integer
          format: int64
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        # WARN: status tidak ada di dokumentasi tapi ada di contoh payload
        status:
          type: string
        # WARN: total_data tidak ada di dokumentasi tapi ada di contoh payload
        total_data:
          type: integer
          format: int64
        # WARN: success_row_data tidak ada di dokumentasi tapi ada di contoh payload
        success_row_data:
          type: array
          items:
            type: object
            properties:
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
    WebhookProductEdit:
      description: This notification will be trigger when using Edit Product V2.0.[https://developer.tokopedia.com/openapi/guide/api-reference/tokopedia/product-api/edit-product]
      type: object
      properties:
        upload_id:
          description: Upload id of the product to check Notification
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        user_id:
          description: User unique identifier
          type: integer
          format: int64
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        # WARN: status tidak ada di dokumentasi tapi ada di contoh payload
        status:
          type: string
        # WARN: total_data tidak ada di dokumentasi tapi ada di contoh payload
        total_data:
          type: integer
          format: int64
        # WARN: success_row_data tidak ada di dokumentasi tapi ada di contoh payload
        success_rows_data:
          type: array
          items:
            type: object
            properties:
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
    WebhookErrorProductEdit:
      description: This notification will be trigger when using Edit Product V2.0.[https://developer.tokopedia.com/openapi/guide/api-reference/tokopedia/product-api/edit-product]
      type: object
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        data:
          type: object
          properties:
            status:
              type: string
            total_data:
              type: integer
              format: int64
            unprocessed_rows:
              type: integer
              format: int64
            success_rows:
              type: integer
              format: int64
            failed_rows:
              type: integer
              format: int64
            failed_rows_data:
              type: array
              items:
                type: object
                properties:
                  product_id:
                    type: integer
                    format: int64
                  product_name:
                    type: string
                  product_price:
                    type: integer
                    format: int64
                  sku:
                    type: string
                  error:
                    type: array
                    items:
                      type: string
            processed_rows:
              type: integer
              format: int64
    WebhookActiveSlashPriceNotification:
      description: Active Slash Price is notification that show information of active slash prsice event. This notification will be trigger when slash price already started.
      type: object
      properties:
        action:
          description: Action Type of Active Slash Price Notification
          type: string
          default: slash_price_active
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_id:
          description: Product unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        original_price:
          description: Normal Price
          type: integer
          format: int64
        discounted_price:
          description: New Price When Slash Price Already Started
          type: integer
          format: int64
        discount_percentage:
          description: Discount Percentage
          type: integer
          format: int64
        start_date:
          description: Slash Price Start Time
          type: string
        end_date:
          description: Slash Price End Time
          type: string
    WebhookInactiveSlashPriceNotification:
      description: Inactive Slash Price is notification that show information of inactive slash price event. This notification will be trigger when slash price already ended.
      type: object
      properties:
        action:
          description: Action Type of Active Slash Price Notification
          type: string
          default: slash_price_inactive
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_id:
          description: Product unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        original_price:
          description: Normal Price
          type: integer
          format: int64
        discounted_price:
          description: New Price When Slash Price Already Started
          type: integer
          format: int64
        discount_percentage:
          description: Discount Percentage
          type: integer
          format: int64
        start_date:
          description: Slash Price Start Time
          type: string
        end_date:
          description: Slash Price End Time
          type: string
    WebhookActiveFlashSaleNotification:
      description: Active Flash Sale is notification that show information of active flash sale event. This notification will be trigger when flash sale already started.
      type: object
      properties:
        action:
          description: Action Type of Active Flash Sale Notification
          type: string
          default: flash_sale_active
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_id:
          description: Product unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        original_price:
          description: Normal Price
          type: integer
          format: int64
        discounted_price:
          description: New Price When Slash Price Already Started
          type: integer
          format: int64
        discount_percentage:
          description: Discount Percentage
          type: integer
          format: int64
        start_date:
          description: Flash Sale Start Time
          type: string
        end_date:
          description: Flash Sale End Time
          type: string
    WebhookInactiveFlashSaleNotification:
      description: Inactive Flash Sale is notification that show information of inactive flash sale event. This notification will be trigger when flash sale already ended.
      type: object
      properties:
        action:
          description: Action Type of Active Flash Sale Notification
          type: string
          default: flash_sale_inactive
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_id:
          description: Product unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        original_price:
          description: Normal Price
          type: integer
          format: int64
        discounted_price:
          description: New Price When Slash Price Already Started
          type: integer
          format: int64
        discount_percentage:
          description: Discount Percentage
          type: integer
          format: int64
        start_date:
          description: Flash Sale Start Time
          type: string
        end_date:
          description: Flash Sale End Time
          type: string
    WebhookChatReplyNotification:
      type: object
      properties:
        msg_id:
          description: Message unique identifier
          type: integer
          format: int64
        buyer_id:
          description: Buyer unique identifier
          type: integer
          format: int64
        message:
          description: Message content
          type: string
        thumbnail:
          description: Chat's Thumbnail
          type: string
        full_name:
          description: Opposite chat user's first name
          type: string
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
    WebhookProductDiscussionNewQuestion:
      type: object
      properties:
        fs_id:
          type: integer
          format: int64
        discussion_type:
          type: string
          default: NewQuestion
        discussion_data:
          type: object
          properties:
            id:
              type: string
            product_id:
              type: integer
              format: int64
            shop_id:
              type: integer
              format: int64
            user_id:
              type: integer
              format: int64
            message:
              type: string
            create_time:
              type: object
              properties:
                original:
                  type: string
                unix:
                  type: integer
                  format: int64
    WebhookProductDiscussionNewAnswer:
      type: object
      properties:
        fs_id:
          type: integer
          format: int64
        discussion_type:
          type: string
          default: DiscussionAnswer
        discussion_data:
          type: object
          properties:
            question_id:
              type: integer
              format: int64
            shop_id:
              type: integer
              format: int64
            user_id:
              type: integer
              format: int64
            user_full_name:
              type: string
            product_id:
              type: integer
              format: int64
            product_name:
              type: string
            answer_id:
              type: integer
              format: int64
            message:
              type: string
    Token:
      type: object
      properties:
        access_token:
          type: string
          example: "LSPr7x7sRGaewzwZE6IcuA"
        expires_in:
          type: integer
          format: int64
          example: 2592000
        token_type:
          type: string
          example: "Bearer"
    BaseErrorResponse:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        data:
          type: object
          additionalProperties: true
          nullable: true
    BaseResponse:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
    ProductBasic:
      type: object
      properties:
        productID:
          type: integer
          format: int64
          description: "Product Unique Identifier"
          example: 15245228
        shopID:
          type: integer
          format: int64
          description: "Shop Unique Identifier"
          example: 480829
        status:
          $ref: "#/components/schemas/ProductStatusCode"
        # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
        Name:
          type: string
          description: "Product Name"
          example: "hxh wallpaper best la zzzz"
        condition:
          type: integer
          format: int64
          description: "Product Condition (e.g., 1 for New, 2 for Used)"
          example: 1
        childCategoryID:
          type: integer
          format: int64
          description: "Product Category Unique Identifier"
          example: 1828
        shortDesc:
          type: string
          description: "Product Description"
          example: "Best wallpaper for hxh"
    ProductPrice:
      type: object
      properties:
        value:
          type: integer
          format: int64
          description: "Product Price Value"
          example: 3000
        currency:
          type: integer
          format: int64
          description: "Product Price Currency"
          example: 1
        LastUpdateUnix:
          type: integer
          format: int64
          description: "Product Price Last Updated timer"
          example: 1557981264
        idr:
          type: integer
          format: int64
          description: "Price Value"
          example: 3000
    ProductWeight:
      type: object
      properties:
        value:
          type: integer
          format: int64
          description: "Product Weight Value"
          example: 5
        unit:
          type: integer
          format: int64
          description: "Weight (e.g., 1 for Gram, 2 for Kilogram)"
          example: 1
    ProductStock:
      type: object
      properties:
        useStock:
          type: boolean
          example: true
        value:
          type: integer
          format: int64
          description: "Product Total Stock"
          example: 10
    ProductStockWording:
      allOf:
        - $ref: "#/components/schemas/ProductStock"
        - type: object
          properties:
            stockWording:
              type: string
              description: "Product Stock Wording (Description)"
              example: "<b>Stok hampir habis!</b> Tersisa &lt;20"
    ProductVariant:
      type: object
      properties:
        isParent:
          type: boolean
          description: "Is Product Variant Parent?"
          example: true
        isVariant:
          type: boolean
          description: "Is Product Has Variants?"
          example: true
        childrenID:
          type: array
          description: List of Product Variant ID
          example: [15245978, 15245979]
          items:
            type: integer
            format: int64
    ProductMenu:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: "Etalase Unique Identifier"
          example: 1405065
        # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
        Name:
          type: string
          description: "Etalase Name"
          example: "Wallpapers"
    ProductPreOrder:
      type: object
      properties:
        duration:
          type: boolean
        unit:
          type: integer
          format: int64
        day:
          type: integer
          format: int64
    ProductExtraAttribute:
      type: object
      properties:
        minOrder:
          type: integer
          format: int64
          description: "Minimum Order"
          example: 1
        lastUpdateCategory:
          type: integer
          format: int64
          description: "Product Category Last Updated time"
          example: 1554708202
        isEligibleCOD:
          type: boolean
          description: "Is Product Eligible for COD?"
          example: true
        isOnCampaign:
          type: boolean
          description: "Is Product on Campaign?"
          example: true
    ProductWholesalePrice:
      type: object
      properties:
        value:
          type: integer
          format: int64
          description: "Product Price Value"
          example: 10000
        currency:
          type: integer
          format: int64
          description: "Product Price Currency"
          example: 1
        idr:
          type: integer
          format: int64
          description: "Price Value"
          example: 10000
    ProductWholesale:
      type: object
      properties:
        price:
          $ref: "#/components/schemas/ProductWholesalePrice"
        minQuantity:
          type: integer
          format: int64
          example: 2
        maxQuantity:
          type: integer
          format: int64
          example: 2
    ProductCategoryTree:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: "Category Unique Identifier"
          example: 1759
        # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
        Name:
          type: string
          description: "Category Name"
          example: "Fashion Pria"
        title:
          type: string
          description: "Category Title"
          example: "Fashion Pria"
        breadcrumbURL:
          type: string
          description: "Category URL"
          example: "https://staging.tokopedia.com/p/fashion-pria"
    ProductPicture:
      type: object
      properties:
        picID:
          type: integer
          format: int64
          description: "Image Unique Identifier"
          example: 21189631
        fileName:
          type: string
          description: "Image File Name"
          example: "5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
        filePath:
          type: string
          description: "Image Path"
          example: "product-1/2019/3/12/5510908"
        status:
          type: integer
          format: int64
          description: "Image Status"
          example: 2
        OriginalURL:
          type: string
          description: "Original Image URL"
          example: "https://ecs7.tokopedia.net/img/cache/700/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
        ThumbnailURL:
          type: string
          description: "Thumbnail Image URL"
          example: "https://ecs7.tokopedia.net/img/cache/200-square/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
        width:
          type: integer
          format: int64
          description: "Image Width Size"
          example: 1920
        height:
          type: integer
          format: int64
          description: "Image Height"
          example: 1080
        URL300:
          type: string
          description: "Image URL"
          example: "https://ecs7.tokopedia.net/img/cache/300/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
    ProductGMStat:
      type: object
      properties:
        transactionSuccess:
          type: integer
          format: int64
          example: 3
        transactionReject:
          type: integer
          format: int64
          example: 69
        countSold:
          type: integer
          format: int64
          example: 3
    ProductStats:
      type: object
      properties:
        countView:
          type: integer
          format: int64
          example: 163
    ProductOther:
      type: object
      properties:
        sku:
          type: string
          description: "Product SKU Name"
          example: "12345"
        url:
          type: string
          description: "Product URL (website)"
          example: "https://staging.tokopedia.com/mattleeshoppe/hxh-wallpaper-best-la-zzzz"
        mobileURL:
          type: string
          description: "Product URL (mobile phone)"
          example: "https://m-staging.tokopedia.com/mattleeshoppe/hxh-wallpaper-best-la-zzzz"
    ProductCampaign:
      type: object
      properties:
        StartDate:
          type: string
          description: "Campaign Start Date (if any)"
          example: "0001-01-01T00:00:00Z"
        EndDate:
          type: string
          description: "Campaign End Date (if any)"
          example: "0001-01-01T00:00:00Z"
    ProductVolume:
      type: object
      properties:
        length:
          type: integer
          format: int64
          description: "Product Length"
        width:
          type: integer
          format: int64
          description: "Product Width"
        height:
          type: integer
          format: int64
          description: "Product Height"
    ProductBundle:
      type: object
      properties:
        bundleID:
          type: integer
          format: int64
          description: "Bundle Unique Identifier"
        # WARN: Name di contoh payload title case tapi di dokumentasi lowercase
        Name:
          type: string
          description: "Bundle Name"
        Type:
          type: integer
          format: int64
          description: "Bundle Type"
        status:
          type: integer
          format: int64
          description: "Bundle Status"
        shopID:
          type: integer
          format: int64
          description: "Shop Unique Identifier"
        startTimeUnix:
          type: integer
          format: int64
          description: "Bundle Start Time"
        stopTimeUnix:
          type: integer
          format: int64
          description: "Bundle End Time"
    ProductWarehouse:
      type: object
      properties:
        productID:
          type: integer
          format: int64
        warehouseID:
          type: integer
          format: int64
        price:
          $ref: "#/components/schemas/ProductPrice"
        stock:
          $ref: "#/components/schemas/ProductStock"
        bundle:
          $ref: "#/components/schemas/ProductBundle"
    Product:
      type: object
      properties:
        basic:
          $ref: "#/components/schemas/ProductBasic"
        price:
          $ref: "#/components/schemas/ProductPrice"
        weight:
          $ref: "#/components/schemas/ProductWeight"
        stock:
          $ref: "#/components/schemas/ProductStockWording"
        main_stock:
          type: integer
          format: int64
          description: "Product Stock (Not Reserved)"
          example: 7
        reserve_stock:
          type: integer
          format: int64
          description: "Product Stock that Reserved (ex: FlashSale)"
          example: 3
        variant:
          $ref: "#/components/schemas/ProductVariant"
        menu:
          $ref: "#/components/schemas/ProductMenu"
        preorder:
          $ref: "#/components/schemas/ProductPreOrder"
        extraAttribute:
          $ref: "#/components/schemas/ProductExtraAttribute"
        wholesale:
          type: array
          items:
            $ref: "#/components/schemas/ProductWholesale"
        categoryTree:
          type: array
          items:
            $ref: "#/components/schemas/ProductCategoryTree"
        pictures:
          type: array
          items:
            $ref: "#/components/schemas/ProductPicture"
        GMStats:
          $ref: "#/components/schemas/ProductGMStat"
        stats:
          $ref: "#/components/schemas/ProductStats"
        other:
          $ref: "#/components/schemas/ProductOther"
        campaign:
          $ref: "#/components/schemas/ProductCampaign"
        volume:
          $ref: "#/components/schemas/ProductVolume"
        warehouses:
          type: array
          items:
            $ref: "#/components/schemas/ProductWarehouse"
    GetProductInfoResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Product"
    CategoryVariantUnitValue:
      type: object
      properties:
        variant_unit_value_id:
          type: integer
          format: int64
        status:
          type: integer
          format: int64
        value:
          type: string
        equivalent_value_id:
          type: integer
          format: int64
        english_value:
          type: string
        hex:
          type: string
        icon:
          type: string
    CategoryVariantUnit:
      type: object
      properties:
        variant_unit_id:
          type: integer
          format: int64
        status:
          type: integer
          format: int64
        unit_name:
          type: string
        unit_short_name:
          type: string
        unit_values:
          type: array
          items:
            $ref: "#/components/schemas/CategoryVariantUnitValue"
    CategoryVariantDetail:
      type: object
      properties:
        variant_id:
          type: integer
          format: int64
        has_unit:
          type: integer
          format: int64
        identifier:
          type: string
        name:
          type: string
        status:
          type: integer
          format: int64
        units:
          type: array
          items:
            $ref: "#/components/schemas/CategoryVariantUnit"
        is_primary:
          type: integer
          format: int64
    CategoryVariant:
      type: object
      properties:
        category_id:
          type: integer
          format: int64
        variant_id_combinations:
          type: array
          items:
            type: array
            items:
              type: integer
              format: int64
        variant_details:
          type: array
          items:
            $ref: "#/components/schemas/CategoryVariantDetail"
    CategoryVariants:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CategoryVariant"
    VariantOption:
      type: object
      properties:
        id:
          type: integer
          format: int64
        value:
          type: string
        hex:
          type: string
    VariantVariant:
      type: object
      properties:
        name:
          type: string
        identifier:
          type: string
        unit_name:
          type: string
        position:
          type: integer
          format: int64
        option:
          type: array
          items:
            $ref: "#/components/schemas/VariantOption"
    VariantPicture:
      type: object
      properties:
        original:
          type: string
        thumbnail:
          type: string
    VariantCampaign:
      type: object
      properties:
        is_active:
          type: boolean
        discounted_percentage:
          type: integer
          format: int64
        discounted_price:
          type: integer
          format: int64
        discounted_price_fmt:
          type: string
        campaign_type:
          type: integer
          format: int64
        campaign_type_name:
          type: string
        start_date:
          type: string
        end_date:
          type: string
    VariantChildren:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        product_id:
          type: integer
          format: int64
        price:
          type: integer
          format: int64
        price_fmt:
          type: string
        stock:
          type: integer
          format: int64
        main_stock:
          type: integer
          format: int64
        reserve_stock:
          type: integer
          format: int64
        sku:
          type: string
        option_ids:
          type: array
          items:
            type: integer
            format: int64
        enabled:
          type: boolean
        is_buyable:
          type: boolean
        is_wishlist:
          type: boolean
        picture:
          $ref: "#/components/schemas/VariantPicture"
        campaign:
          $ref: "#/components/schemas/VariantCampaign"
        always_available:
          type: boolean
        stock_wording:
          type: string
        other_variant_stock:
          type: string
        is_limited_stock:
          type: boolean
    Variant:
      type: object
      properties:
        parent_id:
          type: integer
          format: int64
          description: "Variant Parent Unique Identifier"
        default_child:
          type: integer
          format: int64
          description: "Variant Default Child Identifier"
        variant:
          type: array
          items:
            $ref: "#/components/schemas/VariantVariant"
        children:
          type: array
          items:
            $ref: "#/components/schemas/VariantChildren"
    GetProductVariantResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/Variant"
    UpdateStockInput:
      type: object
      required:
        - new_stock
      properties:
        sku:
          type: string
        product_id:
          type: integer
          format: int64
        new_stock:
          type: integer
          format: int64
    BulkUpdateStockInput:
      type: array
      items:
        $ref: "#/components/schemas/UpdateStockInput"
    UpdateStockResponse:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        data:
          type: object
          properties:
            failed_rows:
              type: integer
              format: int64
            failed_rows_data:
              type: array
              items:
                type: object
                properties:
                  product_id:
                    type: integer
                    format: int64
                  sku:
                    type: string
                  product_url:
                    type: string
                  new_stock:
                    type: integer
                    format: int64
                  message:
                    type: string
            succeed_rows:
              type: integer
              format: int64
    IncreaseStockResponse:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        data:
          type: object
          properties:
            failed_rows:
              type: integer
              format: int64
            failed_rows_data:
              type: array
              items:
                type: object
                properties:
                  product_id:
                    type: integer
                    format: int64
                  new_stock:
                    type: integer
                    format: int64
                  message:
                    type: string
            succeed_rows:
              type: integer
              format: int64
            succeed_rows_data:
              type: array
              items:
                type: object
                properties:
                  productID:
                    type: integer
                    format: int64
                  warehouseID:
                    type: integer
                    format: int64
                  shopID:
                    type: integer
                    format: int64
                  stock:
                    type: integer
                    format: int64
                  price:
                    type: integer
                    format: int64
    DecreaseStockResponse:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        data:
          type: object
          properties:
            failed_rows:
              type: integer
              format: int64
            failed_rows_data:
              type: array
              items:
                type: object
                properties:
                  product_id:
                    type: integer
                    format: int64
                  new_stock:
                    type: integer
                    format: int64
                  message:
                    type: string
            succeed_rows:
              type: integer
              format: int64
            succeed_rows_data:
              type: array
              items:
                type: object
                properties:
                  productID:
                    type: integer
                    format: int64
                  warehouseID:
                    type: integer
                    format: int64
                  shopID:
                    type: integer
                    format: int64
                  stock:
                    type: integer
                    format: int64
                  price:
                    type: integer
                    format: int64
  parameters:
    fs_id:
      name: fs_id
      in: path
      required: true
      description: "Fulfillment service unique identifier"
      schema:
        type: integer
        format: int64
    shop_id:
      name: shop_id
      in: path
      required: true
      description: "Shop service unique identifier"
      schema:
        type: integer
        format: int64
    msg_id:
      name: msg_id
      in: path
      required: true
      description: "Message service unique identifier"
      schema:
        type: integer
        format: int64
    order_id:
      name: order_id
      in: path
      required: true
      description: "Order service unique identifier"
      schema:
        type: integer
        format: int64
    product_id:
      name: product_id
      in: path
      required: true
      description: "Product unique identifier"
      schema:
        type: integer
        format: int64
  securitySchemes:
    basic:
      type: http
      scheme: basic
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /token:
    servers:
      - url: https://accounts.tokopedia.com
        description: Authentication
    post:
      tags:
        - Authentication
      operationId: authentication
      description: "Authentication"
      security:
        - basic: []
      parameters:
        - name: grant_type
          in: query
          required: true
          schema:
            type: string
            default: client_credentials
      responses:
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
  /inventory/v1/fs/{fs_id}/product/info:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    get:
      tags:
        - Product
      operationId: getProductInfo
      description: "This method will retrieve single product information either by product id as parameter (choose one of those two parameters to use) from related fs_id."
      parameters:
        - name: product
          in: query
          required: false
          description: "Can input more than one product_id"
          schema:
            type: string
        - name: product_url
          in: query
          required: false
          description: "Can input more than one product_url"
          schema:
            type: string
        - name: sku
          in: query
          required: false
          description: "Product’s SKU"
          schema:
            type: string
        - name: shop_id
          in: query
          required: false
          description: "Shop Identifier"
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          required: false
          description: "Determine which page the order list should start. The minimal value is 1. Page (required if shop_id is filled)"
          schema:
            type: integer
            format: int64
        - name: per_page
          in: query
          required: false
          description: "Page per item (required if shop_id is filled). Maximun items are 50 for 1 page"
          schema:
            type: integer
            format: int64
        - name: last_sort
          in: query
          required: false
          description: "This parameter is required when the product exceeds 10.000 products"
          schema:
            type: string
      responses:
        default:
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProductInfoResponse"
  /inventory/v2/fs/{fs_id}/category/get_variant:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    get:
      tags:
        - Product
      operationId: getVariantsByCategoryId
      description: "This endpoint retrieves a list of variants related to a category_id. Use this API as main source to retrieve the newest category variant data."
      parameters:
        - name: cat_id
          in: query
          required: true
          description: "Category unique identifier"
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryVariants"
  /inventory/v1/fs/{fs_id}/product/variant/{product_id}:
    parameters:
      - $ref: "#/components/parameters/fs_id"
      - $ref: "#/components/parameters/product_id"
    get:
      tags:
        - Product
      operationId: getVariantsByProductId
      description: "This endpoint retrieves a list of variants related to a product_id."
      responses:
        default:
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProductVariantResponse"
  /inventory/v1/fs/{fs_id}/stock/update:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    post:
      operationId: updateStockOverwrite
      tags:
        - Product
      description: This endpoint used for update product stock. You can update up to 100 products or SKUs in a single request to this endpoint.
      parameters:
        - name: shop_id
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: bypass_update_product_status
          in: query
          required: false
          schema:
            type: boolean
        - name: warehouse_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkUpdateStockInput"
      responses:
        default:
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateStockResponse"
  /inventory/v1/fs/{fs_id}/stock/increment:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    post:
      operationId: updateStockIncrement
      tags:
        - Product
      description: This endpoint is used to update stock by increasing based on input value. You can update up to 100 products or SKUs in a single request by using this endpoint.
      parameters:
        - name: shop_id
          in: query
          required: true
          description: Shop unique identifier
          schema:
            type: integer
            format: int64
        - name: request_id
          in: query
          required: false
          description: The ID of the request to be used for duplicate request validation. Only alphanumeric (case insensitive), ‘-‘, and ‘_’ characters are allowed with a maximum of 20 characters long
          schema:
            type: boolean
        - name: warehouse_id
          in: query
          required: false
          description: Warehouse unique identifer
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - stock_value
                properties:
                  sku:
                    type: string
                    description: SKU of products that will be updated. Maximum characters allowed is 50
                  product_id:
                    type: integer
                    format: int64
                    description: Product ID to update
                  # WARN: di dokumentasi new_stock, di contoh stock_value
                  stock_value:
                    type: integer
                    format: int64
                    description: New stock to be set
      responses:
        default:
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IncreaseStockResponse"
  /inventory/v1/fs/{fs_id}/stock/decrement:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    post:
      operationId: updateStockDecrement
      tags:
        - Product
      description: This endpoint is used to update stock by decreasing based on input value. You can update up to 100 products or SKUs in a single request by using this endpoint.
      parameters:
        - name: shop_id
          in: query
          required: true
          description: Shop unique identifier
          schema:
            type: integer
            format: int64
        - name: request_id
          in: query
          required: false
          description: The ID of the request to be used for duplicate request validation. Only alphanumeric (case insensitive), ‘-‘, and ‘_’ characters are allowed with a maximum of 20 characters long
          schema:
            type: boolean
        - name: warehouse_id
          in: query
          required: false
          description: Warehouse unique identifer
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - stock_value
                properties:
                  sku:
                    type: string
                    description: SKU of products that will be updated. Maximum characters allowed is 50
                  product_id:
                    type: integer
                    format: int64
                    description: Product ID to update
                  # WARN: di dokumentasi new_stock, di contoh stock_value
                  stock_value:
                    type: integer
                    format: int64
                    description: New stock to be set
      responses:
        default:
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
[...]
