openapi: "3.0.2"
info:
  title: Tokopedia API
  description: Tokopedia API
  version: "1.0"
  contact:
    email: dev@sirclo.com
    name: SIRCLO Tech
    url: https://sirclo.com
servers:
  - url: https://fs.tokopedia.net
    description: Seller API
components:
  schemas:
    WebhookOrderNotification:
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        order_id:
          description: Order unique identifier
          type: integer
          format: int64
        accept_partial:
          description: Flag which determines if the order is partially accepted
          type: boolean
        invoice_num:
          description: Invoice reference number
          type: string
        products:
          description: Products data
          type: array
          items:
            type: object
            properties:
              id:
                description: Product ID
                type: integer
                format: int64
              # Name di contoh payload title case tapi di dokumentasi lowercase
              Name:
                description: Product name
                type: string
              quantity:
                description: Product quantity
                type: integer
                format: int64
              notes:
                description: Product notes
                type: string
              weight:
                type: number
                format: double
              total_weight:
                type: number
                format: double
              price:
                description: Product price
                type: integer
                format: int64
              total_price:
                description: Total price
                type: integer
                format: int64
              currency:
                description: Currency code
                type: string
              sku:
                description: SKU code
                type: string
              is_eligible_pof:
                description: Flag which determines if the product is eligible for POF
                type: boolean
        # customer di dokumentasi ditulis array, tapi di contoh berupa object
        customer:
          description: Customer data
          type: object
          properties:
            id:
              description: Customer ID
              type: integer
              format: int64
            # Name di contoh payload title case tapi di dokumentasi lowercase
            Name:
              description: Customer name
              type: string
            phone:
              description: Customer phone (Masked)
              type: string
            # email ada di contoh payload tapi tidak ada di dokumentasi
            email:
              type: string
        # recipient di dokumentasi ditulis array, tapi di contoh berupa object
        recipient:
          description: Recipient data
          type: object
          properties:
            # Name di contoh payload title case tapi di dokumentasi lowercase
            Name:
              description: Recipient Name
              type: string
            phone:
              description: Recipient Phone Number
              type: string
            address:
              description: Recipient Address
              type: object
              properties:
                address_full:
                  description: Complete Address
                  type: string
                district:
                  description: District name
                  type: string
                city:
                  description: City name
                  type: string
                province:
                  description: Province name
                  type: string
                country:
                  description: Country name
                  type: string
                postal_code:
                  description: Postal Code
                  type: string
                district_id:
                  description: District ID
                  type: integer
                  format: int64
                city_id:
                  description: City ID
                  type: integer
                  format: int64
                province_id:
                  description: Province ID
                  type: integer
                  format: int64
                geo:
                  description: Longitude and Latitude position for instant delivery
                  type: string
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        warehouse_id:
          description: Warehouse unique identifier
          type: integer
          format: int64
        shop_name:
          description: Shop name
          type: string
        payment_id:
          description: Payment unique identifier
          type: integer
          format: int64
        # logistics di dokumentasi ditulis array, tapi di contoh berupa object
        logistics:
          description: Logistics data
          type: object
          properties:
            shipping_id:
              description: Shipping id
              type: integer
              format: int64
            district_id:
              description: District ID
              type: integer
              format: int64
            city_id:
              description: City ID
              type: integer
              format: int64
            # province_id ada di dokumentasi tidak ada di contoh payload
            province_id:
              description: Province ID
              type: integer
              format: int64
            geo:
              description: Longitude and Latitude position for instant delivery
              type: string
            shipping_agency:
              description: Shipping agency
              type: string
            service_type:
              description: Service type
              type: string
            # akan lebih baik jika terdapat shipping detail pickup dan delivery
        # amt di dokumentasi ditulis array, tapi di contoh berupa object
        amt:
          description: Amount data
          type: object
          properties:
            ttl_product_price:
              description: Total product price
              type: integer
              format: int64
            shipping_cost:
              description: Shipping rate
              type: integer
              format: int64
            insurance_cost:
              description: Insurance price
              type: integer
              format: int64
            ttl_amount:
              description: Total amount
              type: integer
              format: int64
            voucher_amount:
              description: Voucher amount
              type: integer
              format: int64
            toppoints_amount:
              description: Toppoints amount
              type: integer
              format: int64
        # dropshipper_info di dokumentasi ditulis array, tapi di contoh berupa object
        dropshipper_info:
          description: Dropshipper information
          type: object
          properties:
            # Name di contoh payload title case tapi di dokumentasi lowercase
            Name:
              description: Dropshipper Name
              type: string
            phone:
              description: Dropshipper Phone number
              type: string
        # voucher_info di dokumentasi ditulis array, tapi di contoh berupa object
        voucher_info:
          description: Voucher information
          type: object
          properties:
            voucher_type:
              description: Voucher Type
              type: integer
              format: int64
            voucher_code:
              description: Voucher Code
              type: string
        device_type:
          description: User device type
          type: string
        create_time:
          description: Time in UNIX timestamp
          type: integer
          format: int64
        order_status:
          description: Order status
          type: integer
          format: int64
        custom_fields:
          description: A map of String to String for custom fields for future
          type: object
          additionalProperties: {}
        encryption:
          description: Contains secret and encrypted buyer information
          type: object
          properties:
            secret:
              description: Contains String used to generate key for content
              type: string
            content:
              description: Contains encrypted buyer information
              type: string
        bundle_detail:
          description: Contains bundle information
          type: object
          properties:
            total_product:
              type: integer
              format: int64
            product_bundling_icon:
              type: string
            bundle:
              description: Contains information about bundle items in the order
              type: array
              items:
                type: object
                properties:
                  bundle_id:
                    type: integer
                    format: int64
                  bundle_variant_id:
                    type: string
                  bundle_name:
                    type: string
                  bundle_price:
                    type: integer
                    format: int64
                  bundle_quantity:
                    type: integer
                    format: int64
                  bundle_subtotal_price:
                    type: integer
                    format: int64
                  order_detail:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                        # Name di contoh payload title case tapi di dokumentasi lowercase
                        Name:
                          type: string
                        quantity:
                          type: integer
                          format: int64
                        price:
                          type: integer
                          format: int64
                        weight:
                          type: number
                          format: double
                        total_weight:
                          type: number
                          format: double
                        subtotal_price:
                          type: integer
                          format: int64
                        notes:
                          type: string
                        Currency:
                          type: string
                        sku:
                          type: string
                        bundle_id:
                          type: integer
                          format: int64
                        bundle_variant_id:
                          type: integer
                          format: int64
            non_bundle:
              description: Contains information about non-bundle items in bundled item
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  # Name di contoh payload title case tapi di dokumentasi lowercase
                  Name:
                    type: string
                  quantity:
                    type: integer
                    format: int64
                  notes:
                    type: string
                  weight:
                    type: number
                    format: double
                  total_weight:
                    type: number
                    format: double
                  price:
                    type: integer
                    format: int64
                  total_price:
                    type: integer
                    format: int64
                  currency:
                    type: string
                  sku:
                    type: string
        is_plus:
          description: Flag which determines if the order is a Plus order
          type: boolean
    WebhookOrderStatusCancellation:
      type: object
      properties:
        order_status:
          description: Order Status
          type: integer
          format: int64
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        order_id:
          description: Order unique identifier
          type: integer
          format: int64
        product_details:
          description: List of products
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int64
              # Name di contoh payload title case tapi di dokumentasi lowercase
              Name:
                type: string
              notes:
                type: string
              currency:
                type: string
              weight:
                type: number
                format: double
              total_weight:
                type: number
                format: double
              price:
                type: integer
                format: int64
              total_price:
                type: integer
                format: int64
              quantity:
                type: integer
                format: int64
              sku:
                type: string
    WebhookOrderRequestCancellation:
      type: object
      properties:
        order_id:
          description: Requested order unique identifier
          type: integer
          format: int64
    WebhookStockOverwriteNotification:
      description: |
        Stock Overwrite is notification that show information overwrite main stock into new value.
        This notification will be trigger when :
        - Edit Stock At Seller Dashboard
        - Hit Open API Edit Product Endpoint by change stock into new value
      type: object
      properties:
        fs_id:
          type: integer
          format: int64
        product_changes_data:
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: stock_overwrite
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New overwrite main stock value
                type: string
              previous_value:
                description: Previous main stock value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to overwrite stock
                type: boolean
    WebhookStockDecrementNotification:
      description: |
        Stock Decrement is notification that show information decrement stock into new value.
        This notification will be trigger when :
        - New Order with Payment Verified Status (order status 220)
        - Hit Open API Update Stock
        - Created new reserve stock by join campaign
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: stock_decrement
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New decrement stock value
                type: string
              previous_value:
                description: Previous main stock value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to decrement stock
                type: boolean
    WebhookStockIncrementNotification:
      description: |
        Stock Increment is notification that show information increment stock into new value.
        This notification will be trigger when :
        - Order Rejected (order status 10)
        - Hit Open API Update Stock)
        - Transfer back remaining reserve stock by the end of campaign
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: stock_increment
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New decrement stock value
                type: string
              previous_value:
                description: Previous main stock value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to decrement stock
                type: boolean
    WebhookStockAlertNotification:
      description: |
        Stock Alert is notification that show information alert stock into new value.
        This notification will be trigger when :
        - Edit Stock Alert At Seller Dashboard
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: stock_alert_changes
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New decrement stock value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to decrement stock
                type: boolean
    WebhookPriceChangeNotification:
      description: |
        Price Changes is notification that show information new price value.
        This notification will be trigger when :
        - Hit Open API Update Price
        - Edit Price At Seller Dashboard
        - Hit Open API Edit Product Endpoint by change price into new value(
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: price_changes
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              warehouse_id:
                description: Warehouse unique identifier
                type: integer
                format: int64
              value:
                description: New price value
                type: string
              previous_value:
                description: Previous price value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
              is_default_warehouse:
                description: Indicate for default warehouse of the shop. If not implement multilocation project, pick the true response to decrement stock
                type: boolean
    WebhookProductStatusChangeNotification:
      description: |
        Status Changes is notification that show information new product status value.
        This notification will be trigger when :
        - Hit Open API Update Stock
        - Hit Open API Set Active Product
        - Hit Open API Set Inactive Product
        - Hit Open API Set Delete Product
        - Edit Status At Seller Dashboard
        - Hit Open API Edit Product Endpoint by change status into new value
      type: object
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_changes_data:
          description: Products changes data
          type: array
          items:
            type: object
            properties:
              action:
                description: Action Type of Product Change Notification
                type: string
                default: status_changes
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
              shop_id:
                description: Shop unique identifier
                type: integer
                format: int64
              value:
                description: New price value
                type: string
              update_time:
                description: UNIX format updated time
                type: integer
                format: int64
    WebhookProductCreation:
      description: This notification will be trigger when using Create Product V2.0.[https://developer.tokopedia.com/openapi/guide/api-reference/tokopedia/product-api/create-product]
      type: object
      properties:
        upload_id:
          description: Upload id of the product to check Notification
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        user_id:
          description: User unique identifier
          type: integer
          format: int64
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        # status tidak ada di dokumentasi tapi ada di contoh payload
        status:
          type: string
        # total_data tidak ada di dokumentasi tapi ada di contoh payload
        total_data:
          type: integer
          format: int64
        # success_row_data tidak ada di dokumentasi tapi ada di contoh payload
        success_row_data:
          type: array
          items:
            type: object
            properties:
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
    WebhookProductEdit:
      description: This notification will be trigger when using Edit Product V2.0.[https://developer.tokopedia.com/openapi/guide/api-reference/tokopedia/product-api/edit-product]
      type: object
      properties:
        upload_id:
          description: Upload id of the product to check Notification
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        user_id:
          description: User unique identifier
          type: integer
          format: int64
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        # status tidak ada di dokumentasi tapi ada di contoh payload
        status:
          type: string
        # total_data tidak ada di dokumentasi tapi ada di contoh payload
        total_data:
          type: integer
          format: int64
        # success_row_data tidak ada di dokumentasi tapi ada di contoh payload
        success_rows_data:
          type: array
          items:
            type: object
            properties:
              product_id:
                description: Product unique identifier
                type: integer
                format: int64
    WebhookErrorProductEdit:
      description: This notification will be trigger when using Edit Product V2.0.[https://developer.tokopedia.com/openapi/guide/api-reference/tokopedia/product-api/edit-product]
      type: object
      properties:
        header:
          type: object
          properties:
            process_time:
              type: integer
              format: int64
            messages:
              type: string
        data:
          type: object
          properties:
            status:
              type: string
            total_data:
              type: integer
              format: int64
            unprocessed_rows:
              type: integer
              format: int64
            success_rows:
              type: integer
              format: int64
            failed_rows:
              type: integer
              format: int64
            failed_rows_data:
              type: array
              items:
                type: object
                properties:
                  product_id:
                    type: integer
                    format: int64
                  product_name:
                    type: string
                  product_price:
                    type: integer
                    format: int64
                  sku:
                    type: string
                  error:
                    type: array
                    items:
                      type: string
            processed_rows:
              type: integer
              format: int64
    WebhookActiveSlashPriceNotification:
      description: Active Slash Price is notification that show information of active slash prsice event. This notification will be trigger when slash price already started.
      type: object
      properties:
        action:
          description: Action Type of Active Slash Price Notification
          type: string
          default: slash_price_active
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_id:
          description: Product unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        original_price:
          description: Normal Price
          type: integer
          format: int64
        discounted_price:
          description: New Price When Slash Price Already Started
          type: integer
          format: int64
        discount_percentage:
          description: Discount Percentage
          type: integer
          format: int64
        start_date:
          description: Slash Price Start Time
          type: string
        end_date:
          description: Slash Price End Time
          type: string
    WebhookInactiveSlashPriceNotification:
      description: Inactive Slash Price is notification that show information of inactive slash price event. This notification will be trigger when slash price already ended.
      type: object
      properties:
        action:
          description: Action Type of Active Slash Price Notification
          type: string
          default: slash_price_inactive
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_id:
          description: Product unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        original_price:
          description: Normal Price
          type: integer
          format: int64
        discounted_price:
          description: New Price When Slash Price Already Started
          type: integer
          format: int64
        discount_percentage:
          description: Discount Percentage
          type: integer
          format: int64
        start_date:
          description: Slash Price Start Time
          type: string
        end_date:
          description: Slash Price End Time
          type: string
    WebhookActiveFlashSaleNotification:
      description: Active Flash Sale is notification that show information of active flash sale event. This notification will be trigger when flash sale already started.
      type: object
      properties:
        action:
          description: Action Type of Active Flash Sale Notification
          type: string
          default: flash_sale_active
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_id:
          description: Product unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        original_price:
          description: Normal Price
          type: integer
          format: int64
        discounted_price:
          description: New Price When Slash Price Already Started
          type: integer
          format: int64
        discount_percentage:
          description: Discount Percentage
          type: integer
          format: int64
        start_date:
          description: Flash Sale Start Time
          type: string
        end_date:
          description: Flash Sale End Time
          type: string
    WebhookInactiveFlashSaleNotification:
      description: Inactive Flash Sale is notification that show information of inactive flash sale event. This notification will be trigger when flash sale already ended.
      type: object
      properties:
        action:
          description: Action Type of Active Flash Sale Notification
          type: string
          default: flash_sale_inactive
        fs_id:
          description: Fulfillment service unique identifier
          type: integer
          format: int64
        product_id:
          description: Product unique identifier
          type: integer
          format: int64
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
        original_price:
          description: Normal Price
          type: integer
          format: int64
        discounted_price:
          description: New Price When Slash Price Already Started
          type: integer
          format: int64
        discount_percentage:
          description: Discount Percentage
          type: integer
          format: int64
        start_date:
          description: Flash Sale Start Time
          type: string
        end_date:
          description: Flash Sale End Time
          type: string
    WebhookChatReplyNotification:
      type: object
      properties:
        msg_id:
          description: Message unique identifier
          type: integer
          format: int64
        buyer_id:
          description: Buyer unique identifier
          type: integer
          format: int64
        message:
          description: Message content
          type: string
        thumbnail:
          description: Chat's Thumbnail
          type: string
        full_name:
          description: Opposite chat user's first name
          type: string
        shop_id:
          description: Shop unique identifier
          type: integer
          format: int64
    WebhookProductDiscussionNewQuestion:
      type: object
      properties:
        fs_id:
          type: integer
          format: int64
        discussion_type:
          type: string
          default: NewQuestion
        discussion_data:
          type: object
          properties:
            id:
              type: string
            product_id:
              type: integer
              format: int64
            shop_id:
              type: integer
              format: int64
            user_id:
              type: integer
              format: int64
            message:
              type: string
            create_time:
              type: object
              properties:
                original:
                  type: string
                unix:
                  type: integer
                  format: int64
    WebhookProductDiscussionNewAnswer:
      type: object
      properties:
        fs_id:
          type: integer
          format: int64
        discussion_type:
          type: string
          default: DiscussionAnswer
        discussion_data:
          type: object
          properties:
            question_id:
              type: integer
              format: int64
            shop_id:
              type: integer
              format: int64
            user_id:
              type: integer
              format: int64
            user_full_name:
              type: string
            product_id:
              type: integer
              format: int64
            product_name:
              type: string
            answer_id:
              type: integer
              format: int64
            message:
              type: string
    Token:
      type: object
      properties:
        access_token:
          type: string
          example: "LSPr7x7sRGaewzwZE6IcuA"
        expires_in:
          type: integer
          format: int64
          example: 2592000
        token_type:
          type: string
          example: "Bearer"
    Header:
      type: object
      properties:
        process_time:
          type: number
          format: double
          example: 5.871520385
        messages:
          type: string
          example: "Your request has been processed successfully"
    ErrorHeader:
      allOf:
        - $ref: "#/components/schemas/Header"
        - type: object
          properties:
            reason:
              type: string
              example: "Error Convert number format into string"
            error_code:
              type: string
              example: "PRD_USC_024"
    BaseErrorResponse:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/ErrorHeader"
        data:
          type: object
    BaseResponse:
      type: object
      properties:
        header:
          $ref: "#/components/schemas/Header"
    ProductBasic:
      type: object
      properties:
        productID:
          type: integer
          format: int64
          description: "Product Unique Identifier"
          example: 15245228
        shopID:
          type: integer
          format: int64
          description: "Shop Unique Identifier"
          example: 480829
        status:
          type: integer
          format: int64
          description: "Product Status (e.g., -2 for Banned, -1 for Pending, 0 for Deleted, 1 for Active, 2 for Best (Feature Product), 3 for Inactive (Warehouse))"
          example: 1
        # Name di contoh payload title case tapi di dokumentasi lowercase
        Name:
          type: string
          description: "Product Name"
          example: "hxh wallpaper best la zzzz"
        condition:
          type: integer
          format: int64
          description: "Product Condition (e.g., 1 for New, 2 for Used)"
          example: 1
        childCategoryID:
          type: integer
          format: int64
          description: "Product Category Unique Identifier"
          example: 1828
        shortDesc:
          type: string
          description: "Product Description"
          example: "Best wallpaper for hxh"
    ProductPrice:
      type: object
      properties:
        value:
          type: integer
          format: int64
          description: "Product Price Value"
          example: 3000
        currency:
          type: integer
          format: int64
          description: "Product Price Currency"
          example: 1
        LastUpdateUnix:
          type: integer
          format: int64
          description: "Product Price Last Updated timer"
          example: 1557981264
        idr:
          type: integer
          format: int64
          description: "Price Value"
          example: 3000
    ProductWeight:
      type: object
      properties:
        value:
          type: integer
          format: int64
          description: "Product Weight Value"
          example: 5
        unit:
          type: integer
          format: int64
          description: "Weight (e.g., 1 for Gram, 2 for Kilogram)"
          example: 1
    ProductStock:
      type: object
      properties:
        useStock:
          type: boolean
          example: true
        value:
          type: integer
          format: int64
          description: "Product Total Stock"
          example: 10
    ProductStockWording:
      allOf:
        - $ref: "#/components/schemas/ProductStock"
        - type: object
          properties:
            stockWording:
              type: string
              description: "Product Stock Wording (Description)"
              example: "<b>Stok hampir habis!</b> Tersisa &lt;20"
    ProductVariant:
      type: object
      properties:
        isParent:
          type: boolean
          description: "Is Product Variant Parent?"
          example: true
        isVariant:
          type: boolean
          description: "Is Product Has Variants?"
          example: true
        childrenID:
          type: array
          description: List of Product Variant ID
          example: [15245978, 15245979]
          items:
            type: integer
            format: int64
    ProductMenu:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: "Etalase Unique Identifier"
          example: 1405065
        # Name di contoh payload title case tapi di dokumentasi lowercase
        Name:
          type: string
          description: "Etalase Name"
          example: "Wallpapers"
    ProductPreOrder:
      type: object
      properties:
        duration:
          type: boolean
        unit:
          type: integer
          format: int64
        day:
          type: integer
          format: int64
    ProductExtraAttribute:
      type: object
      properties:
        minOrder:
          type: integer
          format: int64
          description: "Minimum Order"
          example: 1
        lastUpdateCategory:
          type: integer
          format: int64
          description: "Product Category Last Updated time"
          example: 1554708202
        isEligibleCOD:
          type: boolean
          description: "Is Product Eligible for COD?"
          example: true
        isOnCampaign:
          type: boolean
          description: "Is Product on Campaign?"
          example: true
    ProductWholesalePrice:
      type: object
      properties:
        value:
          type: integer
          format: int64
          description: "Product Price Value"
          example: 10000
        currency:
          type: integer
          format: int64
          description: "Product Price Currency"
          example: 1
        idr:
          type: integer
          format: int64
          description: "Price Value"
          example: 10000
    ProductWholesale:
      type: object
      properties:
        price:
          $ref: "#/components/schemas/ProductWholesalePrice"
        minQuantity:
          type: integer
          format: int64
          example: 2
        maxQuantity:
          type: integer
          format: int64
          example: 2
    ProductCategoryTree:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: "Category Unique Identifier"
          example: 1759
        # Name di contoh payload title case tapi di dokumentasi lowercase
        Name:
          type: string
          description: "Category Name"
          example: "Fashion Pria"
        title:
          type: string
          description: "Category Title"
          example: "Fashion Pria"
        breadcrumbURL:
          type: string
          description: "Category URL"
          example: "https://staging.tokopedia.com/p/fashion-pria"
    ProductPicture:
      type: object
      properties:
        picID:
          type: integer
          format: int64
          description: "Image Unique Identifier"
          example: 21189631
        fileName:
          type: string
          description: "Image File Name"
          example: "5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
        filePath:
          type: string
          description: "Image Path"
          example: "product-1/2019/3/12/5510908"
        status:
          type: integer
          format: int64
          description: "Image Status"
          example: 2
        OriginalURL:
          type: string
          description: "Original Image URL"
          example: "https://ecs7.tokopedia.net/img/cache/700/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
        ThumbnailURL:
          type: string
          description: "Thumbnail Image URL"
          example: "https://ecs7.tokopedia.net/img/cache/200-square/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
        width:
          type: integer
          format: int64
          description: "Image Width Size"
          example: 1920
        height:
          type: integer
          format: int64
          description: "Image Height"
          example: 1080
        URL300:
          type: string
          description: "Image URL"
          example: "https://ecs7.tokopedia.net/img/cache/300/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg"
    ProductGMStat:
      type: object
      properties:
        transactionSuccess:
          type: integer
          format: int64
          example: 3
        transactionReject:
          type: integer
          format: int64
          example: 69
        countSold:
          type: integer
          format: int64
          example: 3
    ProductStats:
      type: object
      properties:
        countView:
          type: integer
          format: int64
          example: 163
    ProductOther:
      type: object
      properties:
        sku:
          type: string
          description: "Product SKU Name"
          example: "12345"
        url:
          type: string
          description: "Product URL (website)"
          example: "https://staging.tokopedia.com/mattleeshoppe/hxh-wallpaper-best-la-zzzz"
        mobileURL:
          type: string
          description: "Product URL (mobile phone)"
          example: "https://m-staging.tokopedia.com/mattleeshoppe/hxh-wallpaper-best-la-zzzz"
    ProductCampaign:
      type: object
      properties:
        StartDate:
          type: string
          description: "Campaign Start Date (if any)"
          example: "0001-01-01T00:00:00Z"
        EndDate:
          type: string
          description: "Campaign End Date (if any)"
          example: "0001-01-01T00:00:00Z"
    ProductVolume:
      type: object
      properties:
        length:
          type: integer
          format: int64
          description: "Product Length"
        width:
          type: integer
          format: int64
          description: "Product Width"
        height:
          type: integer
          format: int64
          description: "Product Height"
    ProductBundle:
      type: object
      properties:
        bundleID:
          type: integer
          format: int64
          description: "Bundle Unique Identifier"
        # Name di contoh payload title case tapi di dokumentasi lowercase
        Name:
          type: string
          description: "Bundle Name"
        Type:
          type: integer
          format: int64
          description: "Bundle Type"
        status:
          type: integer
          format: int64
          description: "Bundle Status"
        shopID:
          type: integer
          format: int64
          description: "Shop Unique Identifier"
        startTimeUnix:
          type: integer
          format: int64
          description: "Bundle Start Time"
        stopTimeUnix:
          type: integer
          format: int64
          description: "Bundle End Time"
    ProductWarehouse:
      type: object
      properties:
        productID:
          type: integer
          format: int64
        warehouseID:
          type: integer
          format: int64
        price:
          $ref: "#/components/schemas/ProductPrice"
        stock:
          $ref: "#/components/schemas/ProductStock"
        bundle:
          $ref: "#/components/schemas/ProductBundle"
    Product:
      type: object
      properties:
        basic:
          $ref: "#/components/schemas/ProductBasic"
        price:
          $ref: "#/components/schemas/ProductPrice"
        weight:
          $ref: "#/components/schemas/ProductWeight"
        stock:
          $ref: "#/components/schemas/ProductStockWording"
        main_stock:
          type: integer
          format: int64
          description: "Product Stock (Not Reserved)"
          example: 7
        reserve_stock:
          type: integer
          format: int64
          description: "Product Stock that Reserved (ex: FlashSale)"
          example: 3
        variant:
          $ref: "#/components/schemas/ProductVariant"
        menu:
          $ref: "#/components/schemas/ProductMenu"
        preorder:
          $ref: "#/components/schemas/ProductPreOrder"
        extraAttribute:
          $ref: "#/components/schemas/ProductExtraAttribute"
        wholesale:
          type: array
          items:
            $ref: "#/components/schemas/ProductWholesale"
        categoryTree:
          type: array
          items:
            $ref: "#/components/schemas/ProductCategoryTree"
        pictures:
          type: array
          items:
            $ref: "#/components/schemas/ProductPicture"
        GMStats:
          $ref: "#/components/schemas/ProductGMStat"
        stats:
          $ref: "#/components/schemas/ProductStats"
        other:
          $ref: "#/components/schemas/ProductOther"
        campaign:
          $ref: "#/components/schemas/ProductCampaign"
        volume:
          $ref: "#/components/schemas/ProductVolume"
        warehouses:
          type: array
          items:
            $ref: "#/components/schemas/ProductWarehouse"
    GetProductInfoResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Product"
    CategoryVariantUnitValue:
      type: object
      properties:
        variant_unit_value_id:
          type: integer
          format: int64
        status:
          type: integer
          format: int64
        value:
          type: string
        equivalent_value_id:
          type: integer
          format: int64
        english_value:
          type: string
        hex:
          type: string
        icon:
          type: string
    CategoryVariantUnit:
      type: object
      properties:
        variant_unit_id:
          type: integer
          format: int64
        status:
          type: integer
          format: int64
        unit_name:
          type: string
        unit_short_name:
          type: string
        unit_values:
          type: array
          items:
            $ref: "#/components/schemas/CategoryVariantUnitValue"
    CategoryVariantDetail:
      type: object
      properties:
        variant_id:
          type: integer
          format: int64
        has_unit:
          type: integer
          format: int64
        identifier:
          type: string
        name:
          type: string
        status:
          type: integer
          format: int64
        units:
          type: array
          items:
            $ref: "#/components/schemas/CategoryVariantUnit"
        is_primary:
          type: integer
          format: int64
    CategoryVariant:
      type: object
      properties:
        category_id:
          type: integer
          format: int64
        variant_id_combinations:
          type: array
          items:
            type: array
            items:
              type: integer
              format: int64
        variant_details:
          type: array
          items:
            $ref: "#/components/schemas/CategoryVariantDetail"
    CategoryVariants:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CategoryVariant"
    VariantOption:
      type: object
      properties:
        id:
          type: integer
          format: int64
        value:
          type: string
        hex:
          type: string
    VariantVariant:
      type: object
      properties:
        name:
          type: string
        identifier:
          type: string
        unit_name:
          type: string
        position:
          type: integer
          format: int64
        option:
          type: array
          items:
            $ref: "#/components/schemas/VariantOption"
    VariantPicture:
      type: object
      properties:
        original:
          type: string
        thumbnail:
          type: string
    VariantCampaign:
      type: object
      properties:
        is_active:
          type: boolean
        discounted_percentage:
          type: integer
          format: int64
        discounted_price:
          type: integer
          format: int64
        discounted_price_fmt:
          type: string
        campaign_type:
          type: integer
          format: int64
        campaign_type_name:
          type: string
        start_date:
          type: string
        end_date:
          type: string
    VariantChildren:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        product_id:
          type: integer
          format: int64
        price:
          type: integer
          format: int64
        price_fmt:
          type: string
        stock:
          type: integer
          format: int64
        main_stock:
          type: integer
          format: int64
        reserve_stock:
          type: integer
          format: int64
        sku:
          type: string
        option_ids:
          type: array
          items:
            type: integer
            format: int64
        enabled:
          type: boolean
        is_buyable:
          type: boolean
        is_wishlist:
          type: boolean
        picture:
          $ref: "#/components/schemas/VariantPicture"
        campaign:
          $ref: "#/components/schemas/VariantCampaign"
        always_available:
          type: boolean
        stock_wording:
          type: string
        other_variant_stock:
          type: string
        is_limited_stock:
          type: boolean
    Variant:
      type: object
      properties:
        parent_id:
          type: integer
          format: int64
          description: "Variant Parent Unique Identifier"
        default_child:
          type: integer
          format: int64
          description: "Variant Default Child Identifier"
        variant:
          type: array
          items:
            $ref: "#/components/schemas/VariantVariant"
        children:
          type: array
          items:
            $ref: "#/components/schemas/VariantChildren"
    GetProductVariantResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/Variant"
    UpdateStockInput:
      type: object
      required:
        - new_stock
      properties:
        sku:
          type: string
        product_id:
          type: integer
          format: int64
        new_stock:
          type: integer
          format: int64
    BulkUpdateStockInput:
      type: array
      items:
        $ref: "#/components/schemas/UpdateStockInput"
    UpdateStockResponse:
      type: object
      properties:
        header:
          type: object
          properties:
            process_time:
              type: number
              format: double
            messages:
              type: string
        data:
          type: object
          properties:
            failed_rows:
              type: integer
              format: int64
            failed_rows_data:
              type: array
              items:
                type: object
                properties:
                  product_id:
                    type: integer
                    format: int64
                  sku:
                    type: string
                  product_url:
                    type: string
                  new_stock:
                    type: integer
                    format: int64
                  message:
                    type: string
            succeed_rows:
              type: integer
              format: int64
  parameters:
    fs_id:
      name: fs_id
      in: path
      required: true
      description: "Fulfillment service unique identifier"
      schema:
        type: integer
        format: int64
    msg_id:
      name: msg_id
      in: path
      required: true
      description: "Message service unique identifier"
      schema:
        type: integer
        format: int64
    order_id:
      name: order_id
      in: path
      required: true
      description: "Order service unique identifier"
      schema:
        type: integer
        format: int64
    product_id:
      name: product_id
      in: path
      required: true
      description: "Product unique identifier"
      schema:
        type: integer
        format: int64
  securitySchemes:
    basic:
      type: http
      scheme: basic
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /token:
    servers:
      - url: https://accounts.tokopedia.com
        description: Authentication
    post:
      tags:
        - Authentication
      operationId: authentication
      description: "Authentication"
      security:
        - basic: []
      parameters:
        - name: grant_type
          in: query
          required: true
          schema:
            type: string
            default: client_credentials
      responses:
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
  /inventory/v1/fs/{fs_id}/product/info:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    get:
      tags:
        - Product
      operationId: getProductInfo
      description: "This method will retrieve single product information either by product id as parameter (choose one of those two parameters to use) from related fs_id."
      parameters:
        - name: product
          in: query
          required: false
          description: "Can input more than one product_id"
          schema:
            type: string
        - name: product_url
          in: query
          required: false
          description: "Can input more than one product_url"
          schema:
            type: string
        - name: sku
          in: query
          required: false
          description: "Product’s SKU"
          schema:
            type: string
        - name: shop_id
          in: query
          required: false
          description: "Shop Identifier"
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          required: false
          description: "Determine which page the order list should start. The minimal value is 1. Page (required if shop_id is filled)"
          schema:
            type: integer
            format: int64
        - name: per_page
          in: query
          required: false
          description: "Page per item (required if shop_id is filled). Maximun items are 50 for 1 page"
          schema:
            type: integer
            format: int64
        - name: last_sort
          in: query
          required: false
          description: "This parameter is required when the product exceeds 10.000 products"
          schema:
            type: string
      responses:
        "default":
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProductInfoResponse"
  /inventory/v2/fs/{fs_id}/category/get_variant:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    get:
      tags:
        - Product
      operationId: getVariantsByCategoryId
      description: "This endpoint retrieves a list of variants related to a category_id. Use this API as main source to retrieve the newest category variant data."
      parameters:
        - name: cat_id
          in: query
          required: true
          description: "Category unique identifier"
          schema:
            type: integer
            format: int64
      responses:
        "default":
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryVariants"
  /inventory/v1/fs/{fs_id}/product/variant/{product_id}:
    parameters:
      - $ref: "#/components/parameters/fs_id"
      - $ref: "#/components/parameters/product_id"
    get:
      tags:
        - Product
      operationId: getVariantsByProductId
      description: "This endpoint retrieves a list of variants related to a product_id."
      responses:
        "default":
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProductVariantResponse"
  /inventory/v1/fs/{fs_id}/stock/update:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    get:
      operationId: updateStock
      tags:
        - Product
      description: This endpoint used for update product stock. You can update up to 100 products or SKUs in a single request to this endpoint.
      parameters:
        - name: shop_id
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: bypass_update_product_status
          in: query
          required: false
          schema:
            type: boolean
        - name: warehouse_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkUpdateStockInput"
      responses:
        "default":
          description: Default error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateStockResponse"
  /v1/fs/{fs_id}:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    get:
      operationId: getRegisteredWebhooks
      tags:
        - Webhook
      description: "Get list of registered webhook"
      responses:
        default:
          description: Error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            text/html: {}
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      fs_id:
                        type: integer
                        format: int64
                      order_notification_url:
                        type: string
                      order_cancellation_url:
                        type: string
                      order_status_url:
                        type: string
                      order_request_cancellation_url:
                        type: string
                      chat_notification_url:
                        type: string
                      product_changes_url:
                        type: string
                      campaign_notification_url:
                        type: string
                      order_partial_fulfillment_url:
                        type: string
                      webhook_secret:
                        type: string
                  status:
                    type: string
                  error_message:
                    type: array
                    items:
                      type: string
  /v1/fs/{fs_id}/register:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    post:
      operationId: registerWebhook
      tags:
        - Webhook
      description: "Register webhook"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fs_id
                - order_notification_url
                - order_cancellation_url
                - order_status_url
                - order_request_cancellation_url
                - chat_notification_url
                - product_creation_url
                - product_changes_url
                - campaign_notification_url
                - webhook_secret
              properties:
                fs_id:
                  type: integer
                  format: int64
                order_notification_url:
                  type: string
                order_cancellation_url:
                  type: string
                order_status_url:
                  type: string
                order_request_cancellation_url:
                  type: string
                chat_notification_url:
                  type: string
                product_creation_url:
                  type: string
                product_changes_url:
                  type: string
                campaign_notification_url:
                  type: string
                webhook_secret:
                  type: string
      responses:
        default:
          description: Error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                  status:
                    type: string
                  error_message:
                    type: array
                    items:
                      type: string
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                  status:
                    type: string
                  error_message:
                    type: array
                    items:
                      type: string
  /v1/order/{order_id}/fs/{fs_id}/webhook:
    parameters:
      - $ref: "#/components/parameters/order_id"
      - $ref: "#/components/parameters/fs_id"
    get:
      operationId: getOrderWebhook
      tags:
        - Order
        - Webhook
      description: "Get order webhook"
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - order_status
              - order_notification
      responses:
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    type: object
                    properties:
                      process_time:
                        type: number
                        format: double
                      messages:
                        type: string
                      reason:
                        type: string
                      error_code:
                        type: string
                  data:
                    oneOf:
                      - type: object
                        nullable: true
                        properties:
                          fs_id:
                            type: integer
                            format: int64
                          order_status:
                            type: integer
                            format: int64
                          order_id:
                            type: integer
                            format: int64
                          shop_id:
                            type: integer
                            format: int64
                          warehouse_id:
                            type: integer
                            format: int64
                          product_details:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  format: int64
                                Name:
                                  type: string
                                notes:
                                  type: string
                                currency:
                                  type: string
                                weight:
                                  type: number
                                  format: double
                                total_weight:
                                  type: number
                                  format: double
                                price:
                                  type: integer
                                  format: int64
                                total_price:
                                  type: integer
                                  format: int64
                                quantity:
                                  type: integer
                                  format: int64
                                sku:
                                  type: string
                      - type: object
                        nullable: true
                        properties:
                          fs_id:
                            type: integer
                            format: int64
                          order_id:
                            type: integer
                            format: int64
                          invoice_ref_num:
                            type: string
                          products:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  format: int64
                                Name:
                                  type: string
                                notes:
                                  type: string
                                currency:
                                  type: string
                                weight:
                                  type: number
                                  format: double
                                total_weight:
                                  type: number
                                  format: double
                                price:
                                  type: integer
                                  format: int64
                                total_price:
                                  type: integer
                                  format: int64
                                quantity:
                                  type: integer
                                  format: int64
                                sku:
                                  type: string
                          customer:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int64
                              Name:
                                type: string
                              phone:
                                type: string
                              email:
                                type: string
                          recipient:
                            type: object
                            properties:
                              Name:
                                type: string
                              phone:
                                type: string
                              address:
                                type: object
                                properties:
                                  address_full:
                                    type: string
                                  district:
                                    type: string
                                  city:
                                    type: string
                                  province:
                                    type: string
                                  country:
                                    type: string
                                  postal_code:
                                    type: string
                                  district_id:
                                    type: integer
                                    format: int64
                                  city_id:
                                    type: integer
                                    format: int64
                                  province_id:
                                    type: integer
                                    format: int64
                                  geo:
                                    type: string
                          shop_id:
                            type: integer
                            format: int64
                          warehouse_id:
                            type: integer
                            format: int64
                          shop_name:
                            type: string
                          payment_id:
                            type: integer
                            format: int64
                          payment_date:
                            type: string
                          logistics:
                            type: object
                            properties:
                              shipping_id:
                                type: integer
                                format: int64
                              district_id:
                                type: integer
                                format: int64
                              city_id:
                                type: integer
                                format: int64
                              province_id:
                                type: integer
                                format: int64
                              geo:
                                type: string
                              shipping_agency:
                                type: string
                              service_type:
                                type: string
                          amt:
                            type: object
                            properties:
                              ttl_product_price:
                                type: integer
                                format: int64
                              shipping_cost:
                                type: integer
                                format: int64
                              insurance_cost:
                                type: integer
                                format: int64
                              ttl_amount:
                                type: integer
                                format: int64
                              voucher_amount:
                                type: integer
                                format: int64
                              toppoints_amount:
                                type: integer
                                format: int64
                          dropshipper_info:
                            type: object
                            properties:
                              Name:
                                type: string
                              phone:
                                type: string
                          voucher_info:
                            type: object
                            properties:
                              voucher_code:
                                type: string
                              voucher_type:
                                type: integer
                                format: int64
                          device_type:
                            type: string
                          create_time:
                            type: string
                          order_status:
                            type: integer
                            format: int64
                          custom_fields:
                            type: object
                            additionalProperties: true
                          accept_partial:
                            type: boolean
  /v1/fs/{fs_id}/trigger:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    post:
      operationId: triggerWebhook
      tags:
        - Order
        - Webhook
      description: "Trigger webhook"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - order_id
                - type
                - url
                - is_encrypted
              properties:
                order_id:
                  type: integer
                  format: int64
                type:
                  type: string
                  enum:
                    - order_status
                    - order_notification
                url:
                  type: string
                is_encrypted:
                  type: boolean
      responses:
        default:
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    type: object
                    properties:
                      process_time:
                        type: number
                        format: double
                      messages:
                        type: string
                      reason:
                        type: string
                      error_code:
                        type: string
                  data:
                    type: string
                    nullable: true
        "200":
          description: OK
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    type: object
                    properties:
                      process_time:
                        type: number
                        format: double
                      messages:
                        type: string
                      reason:
                        type: string
                      error_code:
                        type: string
                  data:
                    type: string
                    nullable: true
  /v1/chat/fs/{fs_id}/messages:
    parameters:
      - $ref: "#/components/parameters/fs_id"
    get:
      operationId: getListMessage
      tags:
        - Interaction
      description: "This endpoint retrieves a list of all messages (chatrooms) owned by a shop_id."
      parameters:
        - name: shop_id
          description: Shop service unique identifier
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          description: Determine which page the order list should start. Start from 1. You can get the next page when the previous page has have_next_page value true
          in: query
          schema:
            type: integer
            format: int64
        - name: per_page
          description: Determine how many orders will be shown per page. The maximum value is 15
          in: query
          schema:
            type: integer
            format: int64
        - name: filter
          description: Filter by message read status. Value between “all”, “read”, or “unread”identifier
          in: query
          schema:
            type: string
            enum:
              - all
              - read
              - unread
      responses:
        default:
          description: Error
          headers:
            X-Ratelimit-Limit:
              schema:
                type: string
              description: Current rate limit applied to the relevant endpoint
            X-Ratelimit-Remaining:
              schema:
                type: integer
              description: Remaining rate limit for the relevant endpoint that user can use to access our endpoint before get http status code 429
            X-Ratelimit-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain 1 request to access our endpoint without get http status code 429. If user still have remaining rate limit, this value will always show -0.000000. Time format are in seconds
            X-Ratelimit-Full-Reset-After:
              schema:
                type: number
                format: double
              description: Time remaining to regain full request to access our endpoint without get http status code 429. Time format are in seconds
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    type: object
                    properties:
                      process_time:
                        type: number
                        format: double
                      messages:
                        type: string
                      reason:
                        type: string
                      error_code:
                        type: integer
                        format: int64
                  data:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        message_key:
                          type: string
                          description: Message Key, Field messages_key is an identic key for related buyer and related seller that communicate at the chat.
                        msg_id:
                          type: integer
                          format: int64
                          description: Message Unique Identifier
                        attributes:
                          type: object
                          properties:
                            contact:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  format: int64
                                  description: User Unique Identifier
                                role:
                                  type: string
[...]
