openapi: 3.0.2
info:
  contact:
    email: dev@sirclo.com
    name: SIRCLO Tech
    url: https://sirclo.com
  description: Tokopedia API
  title: Tokopedia API
  version: "1.0"
servers:
- description: Seller API
  url: https://fs.tokopedia.net
security:
- bearer: []
tags:
- name: Authentication
- name: Product
- name: Webhook
- name: Order
- name: Interaction
- name: Finance
- name: Campaign
- name: Bundle
- name: Logistic
- name: Shop
paths:
  /token:
    post:
      description: Authentication
      operationId: authentication
      parameters:
      - explode: true
        in: query
        name: grant_type
        required: true
        schema:
          default: client_credentials
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      security:
      - basic: []
      tags:
      - Authentication
    servers:
    - description: Authentication
      url: https://accounts.tokopedia.com
  /inventory/v1/fs/{fs_id}/product/info:
    get:
      description: This method will retrieve single product information either by
        product id as parameter (choose one of those two parameters to use) from related
        fs_id.
      operationId: getProductInfo
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Can input more than one product_id
        explode: true
        in: query
        name: product
        required: false
        schema:
          type: string
        style: form
      - description: Can input more than one product_url
        explode: true
        in: query
        name: product_url
        required: false
        schema:
          type: string
        style: form
      - description: Product’s SKU
        explode: true
        in: query
        name: sku
        required: false
        schema:
          type: string
        style: form
      - description: Shop Identifier
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine which page the order list should start. The minimal
          value is 1. Page (required if shop_id is filled)
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Page per item (required if shop_id is filled). Maximun items
          are 50 for 1 page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: This parameter is required when the product exceeds 10.000 products
        explode: true
        in: query
        name: last_sort
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Default error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductInfoResponse'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Product
  /inventory/v2/fs/{fs_id}/category/get_variant:
    get:
      description: This endpoint retrieves a list of variants related to a category_id.
        Use this API as main source to retrieve the newest category variant data.
      operationId: getVariantsByCategoryId
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Category unique identifier
        explode: true
        in: query
        name: cat_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Default error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryVariants'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Product
  /inventory/v1/fs/{fs_id}/product/variant/{product_id}:
    get:
      description: This endpoint retrieves a list of variants related to a product_id.
      operationId: getVariantsByProductId
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Product unique identifier
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Default error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductVariantResponse'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Product
  /inventory/v1/fs/{fs_id}/stock/update:
    post:
      description: This endpoint used for update product stock. You can update up
        to 100 products or SKUs in a single request to this endpoint.
      operationId: updateStock
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: bypass_update_product_status
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: warehouse_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateStockInput'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Default error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateStockResponse'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Product
  /v1/fs/{fs_id}:
    get:
      description: Get list of registered webhook
      operationId: getRegisteredWebhooks
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            text/html: {}
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRegisteredWebhooks_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Webhook
  /v1/fs/{fs_id}/register:
    post:
      description: Register webhook
      operationId: registerWebhook
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerWebhook_request'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerWebhook_default_response'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerWebhook_default_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Webhook
  /v1/order/{order_id}/fs/{fs_id}/webhook:
    get:
      description: Get order webhook
      operationId: getOrderWebhook
      parameters:
      - description: Order service unique identifier
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - order_status
          - order_notification
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOrderWebhook_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Order
      - Webhook
  /v1/fs/{fs_id}/trigger:
    post:
      description: Trigger webhook
      operationId: triggerWebhook
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/triggerWebhook_request'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/triggerWebhook_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Order
      - Webhook
  /v1/chat/fs/{fs_id}/messages:
    get:
      description: This endpoint retrieves a list of all messages (chatrooms) owned
        by a shop_id.
      operationId: getListMessage
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop service unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine which page the order list should start. Start from
          1. You can get the next page when the previous page has have_next_page value
          true
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine how many orders will be shown per page. The maximum
          value is 15
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "Filter by message read status. Value between “all”, “read”,\
          \ or “unread”identifier"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - all
          - read
          - unread
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListMessage_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Interaction
  /v1/chat/fs/{fs_id}/messages/{msg_id}/replies:
    get:
      description: This endpoint retrieves a list of all replies (chat bubble) for
        a msg_id which is owned by a shop_id.x
      operationId: getListReply
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Message service unique identifier
        explode: false
        in: path
        name: msg_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop service unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine which page the order list should start. Start from
          1. You can get the next page when the previous page has have_next_page value
          true
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine how many orders will be shown per page. The maximum
          value is 15
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListReply_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Interaction
  /v1/chat/fs/{fs_id}/initiate:
    get:
      description: "This endpoint check if chat message exists, if it doesn’t, creates\
        \ a new message. The response consists of a list of replies in a message status."
      operationId: initiateChat
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Order service unique identifier
        explode: true
        in: query
        name: order_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/initiateChat_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Interaction
  /v1/chat/fs/{fs_id}/messages/{msg_id}/reply:
    post:
      description: This endpoint sends a reply to a message (chat room) identified
        by msg_id from shop_id.
      operationId: sendReply
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Message service unique identifier
        explode: false
        in: path
        name: msg_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendReply_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sendReply_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Interaction
  /v1/fs/{fs_id}/shop/{shop_id}/saldo-history:
    get:
      description: This endpoint returns seller saldo history from Shop ID that associated
        with FS ID. This endpoint has two types of response as json format and files
        format with .xls extension
      operationId: getSaldoHistory
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop service unique identifier
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "UNIX timestamp of date (hour, min, sec) from which the order\
          \ details are requested. Max Range per request 31 Days"
        explode: true
        in: query
        name: from_date
        required: true
        schema:
          type: string
        style: form
      - description: "UNIX timestamp of date (hour, min, sec) to which the order details\
          \ are requested. Max Range per request 31 Days"
        explode: true
        in: query
        name: to_date
        required: true
        schema:
          type: string
        style: form
      - description: Determine which page the order list should start. Start from
          1. You can get the next page when the previous page has have_next_page value
          true
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine how many orders will be shown per page. The maximum
          value is 500
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: When the value is 1 then data will be send as files with .xls
          extension
        explode: true
        in: query
        name: export
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSaldoHistory_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Finance
  /v1/products/bundle/fs/{fs_id}/list:
    get:
      description: Get Bundle List
      operationId: getBundleList
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Filter type of bundle list: * 1 - SINGLE * 2 - MULTIPLE
        explode: true
        in: query
        name: type
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Filter status of bundle list: * 1 = ACTIVE * 2 = UPCOMING * -5 = CANCELED fill with 0 or keep it empty to show all bundle list status
        explode: true
        in: query
        name: status
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: For pagination purpose. Fill with 0 or keep it empty to show
          all bundle list
        explode: true
        in: query
        name: last_group_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBundleList_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Campaign
      - Bundle
  /v1/products/bundle/fs/{fs_id}/info:
    get:
      description: This endpoint is used to get bundle info using either the bundle_id
        or product_id.
      operationId: getBundleInfo
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Bundle IDs, could add more than one. Example: 4360,4361
        explode: true
        in: query
        name: bundle_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The product unique identifier that associated with the bundle
        explode: true
        in: query
        name: product_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBundleInfo_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Campaign
      - Bundle
  /v1/products/bundle/fs/{fs_id}/edit:
    patch:
      description: This endpoint is used to cancel the bundle.
      operationId: cancelBundle
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelBundle_request'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelBundle_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Campaign
      - Bundle
  /v1/products/bundle/fs/{fs_id}/create:
    post:
      description: This endpoint is used to create a bundle.
      operationId: createBundle
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBundle_request'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createBundle_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Campaign
      - Bundle
  /v1/slash-price/fs/{fs_id}/cancel:
    post:
      description: This endpoint cancel slash price campaign that already be set.
      operationId: cancelSlashPrice
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/cancelSlashPrice_request_inner'
              type: array
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelSlashPrice_default_response'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelSlashPrice_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Campaign
  /v1/slash-price/fs/{fs_id}/update:
    post:
      description: This endpoint update slash price campaign into product to specific
        shop or warehouse
      operationId: updateSlashPrice
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/updateSlashPrice_request_inner'
              type: array
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelSlashPrice_default_response'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelSlashPrice_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Campaign
  /v1/slash-price/fs/{fs_id}/add:
    post:
      description: This endpoint add slash price campaign into product (to specific
        warehouse).
      operationId: addSlashPrice
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/updateSlashPrice_request_inner'
              type: array
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelSlashPrice_default_response'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelSlashPrice_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Campaign
  /v1/campaign/fs/{fs_id}/view:
    get:
      description: This endpoint view all active campaigns from certain products.
      operationId: viewCampaignProducts
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Product unique identifier
        explode: true
        in: query
        name: product_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewCampaignProducts_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Campaign
  /v2/slash-price/fs/{fs_id}/view:
    get:
      description: This endpoint view all slash price campaign that already set.
      operationId: viewSlashPrice
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Warehouse unique identifier
        explode: true
        in: query
        name: warehouse_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Product unique identifier
        explode: true
        in: query
        name: product_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine which page the order list should start. The minimal
          value is 1
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine how many orders will be shown per page
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: "Filter data by slash price status. The possible values are SCHEDULED,ONGOING,\
          \ and PAUSED. By default, it will show all status if we don’t include this\
          \ into query parameter"
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - SCHEDULED
          - ONGOING
          - PAUSED
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/viewSlashPrice_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Campaign
  /v2/logistic/fs/{fs_id}/update:
    post:
      description: This endpoint can update seller shipment availability.
      operationId: updateShipmentInfo
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                additionalProperties:
                  description: "0 represent deactivate shipment, if want to activate\
                    \ shipment then use 1"
                  format: int64
                  type: integer
                description: key represent service_id or ShippingProductID
                type: object
              description: key represent ShipmentID
              type: object
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateShipmentInfo_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Logistic
  /v2/logistic/fs/{fs_id}/info:
    get:
      description: This endpoint can retrieve all available shipment information
      operationId: getShipmentInfo
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getShipmentInfo_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Logistic
  /v1/logistic/fs/{fs_id}/active-info:
    get:
      description: This endpoint can retrieve active courier from related shop.
      operationId: getActiveCourier
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActiveCourier_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Logistic
  /v1/showcase/fs/{fs_id}/delete:
    post:
      description: This endpoint used to delete existing showcase based on showcase_id.
      operationId: deleteShowcase
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteShowcase_request'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
[...]
