openapi: 3.0.2
info:
  contact:
    email: dev@sirclo.com
    name: SIRCLO Tech
    url: https://sirclo.com
  description: Tokopedia API
  title: Tokopedia API
  version: "1.0"
servers:
- description: Seller API
  url: https://fs.tokopedia.net
security:
- bearer: []
tags:
- name: Authentication
- name: Product
- name: Webhook
- name: Order
- name: Interaction
- name: Finance
paths:
  /token:
    post:
      description: Authentication
      operationId: authentication
      parameters:
      - explode: true
        in: query
        name: grant_type
        required: true
        schema:
          default: client_credentials
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      security:
      - basic: []
      tags:
      - Authentication
    servers:
    - description: Authentication
      url: https://accounts.tokopedia.com
  /inventory/v1/fs/{fs_id}/product/info:
    get:
      description: This method will retrieve single product information either by
        product id as parameter (choose one of those two parameters to use) from related
        fs_id.
      operationId: getProductInfo
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Can input more than one product_id
        explode: true
        in: query
        name: product
        required: false
        schema:
          type: string
        style: form
      - description: Can input more than one product_url
        explode: true
        in: query
        name: product_url
        required: false
        schema:
          type: string
        style: form
      - description: Product’s SKU
        explode: true
        in: query
        name: sku
        required: false
        schema:
          type: string
        style: form
      - description: Shop Identifier
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine which page the order list should start. The minimal
          value is 1. Page (required if shop_id is filled)
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Page per item (required if shop_id is filled). Maximun items
          are 50 for 1 page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: This parameter is required when the product exceeds 10.000 products
        explode: true
        in: query
        name: last_sort
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Default error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductInfoResponse'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Product
  /inventory/v2/fs/{fs_id}/category/get_variant:
    get:
      description: This endpoint retrieves a list of variants related to a category_id.
        Use this API as main source to retrieve the newest category variant data.
      operationId: getVariantsByCategoryId
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Category unique identifier
        explode: true
        in: query
        name: cat_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Default error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryVariants'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Product
  /inventory/v1/fs/{fs_id}/product/variant/{product_id}:
    get:
      description: This endpoint retrieves a list of variants related to a product_id.
      operationId: getVariantsByProductId
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Product unique identifier
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Default error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductVariantResponse'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Product
  /inventory/v1/fs/{fs_id}/stock/update:
    get:
      description: This endpoint used for update product stock. You can update up
        to 100 products or SKUs in a single request to this endpoint.
      operationId: updateStock
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: bypass_update_product_status
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: warehouse_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateStockInput'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseErrorResponse'
          description: Default error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateStockResponse'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Product
  /v1/fs/{fs_id}:
    get:
      description: Get list of registered webhook
      operationId: getRegisteredWebhooks
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        default:
          content:
            text/html: {}
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRegisteredWebhooks_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Webhook
  /v1/fs/{fs_id}/register:
    post:
      description: Register webhook
      operationId: registerWebhook
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerWebhook_request'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerWebhook_default_response'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerWebhook_default_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Webhook
  /v1/order/{order_id}/fs/{fs_id}/webhook:
    get:
      description: Get order webhook
      operationId: getOrderWebhook
      parameters:
      - description: Order service unique identifier
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - order_status
          - order_notification
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOrderWebhook_200_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Order
      - Webhook
  /v1/fs/{fs_id}/trigger:
    post:
      description: Trigger webhook
      operationId: triggerWebhook
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/triggerWebhook_request'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/triggerWebhook_default_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/triggerWebhook_default_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Order
      - Webhook
  /v1/chat/fs/{fs_id}/messages:
    get:
      description: This endpoint retrieves a list of all messages (chatrooms) owned
        by a shop_id.
      operationId: getListMessage
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop service unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine which page the order list should start. Start from
          1. You can get the next page when the previous page has have_next_page value
          true
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine how many orders will be shown per page. The maximum
          value is 15
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "Filter by message read status. Value between “all”, “read”,\
          \ or “unread”identifier"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - all
          - read
          - unread
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListMessage_default_response'
          description: Error
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListMessage_default_response'
          description: OK
          headers:
            X-Ratelimit-Limit:
              description: Current rate limit applied to the relevant endpoint
              explode: false
              schema:
                type: string
              style: simple
            X-Ratelimit-Remaining:
              description: Remaining rate limit for the relevant endpoint that user
                can use to access our endpoint before get http status code 429
              explode: false
              schema:
                type: integer
              style: simple
            X-Ratelimit-Reset-After:
              description: "Time remaining to regain 1 request to access our endpoint\
                \ without get http status code 429. If user still have remaining rate\
                \ limit, this value will always show -0.000000. Time format are in\
                \ seconds"
              explode: false
              schema:
                format: double
                type: number
              style: simple
            X-Ratelimit-Full-Reset-After:
              description: Time remaining to regain full request to access our endpoint
                without get http status code 429. Time format are in seconds
              explode: false
              schema:
                format: double
                type: number
              style: simple
      tags:
      - Interaction
  /v1/chat/fs/{fs_id}/messages/{msg_id}/replies:
    get:
      description: This endpoint retrieves a list of all replies (chat bubble) for
        a msg_id which is owned by a shop_id.x
      operationId: getListReply
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Message service unique identifier
        explode: false
        in: path
        name: msg_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop service unique identifier
        explode: true
        in: query
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine which page the order list should start. Start from
          1. You can get the next page when the previous page has have_next_page value
          true
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine how many orders will be shown per page. The maximum
          value is 15
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListReply_200_response'
          description: OK
      tags:
      - Interaction
  /v1/chat/fs/{fs_id}/initiate:
    get:
      description: "This endpoint check if chat message exists, if it doesn’t, creates\
        \ a new message. The response consists of a list of replies in a message status."
      operationId: initiateChat
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Order service unique identifier
        explode: true
        in: query
        name: order_id
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/initiateChat_200_response'
          description: OK
      tags:
      - Interaction
  /v1/chat/fs/{fs_id}/messages/{msg_id}/reply:
    post:
      description: This endpoint sends a reply to a message (chat room) identified
        by msg_id from shop_id.
      operationId: sendReply
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Message service unique identifier
        explode: false
        in: path
        name: msg_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendReply_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sendReply_200_response'
          description: OK
      tags:
      - Interaction
  /v1/fs/{fs_id}/shop/{shop_id}/saldo-history:
    get:
      description: This endpoint returns seller saldo history from Shop ID that associated
        with FS ID. This endpoint has two types of response as json format and files
        format with .xls extension
      operationId: getSaldoHistory
      parameters:
      - description: Fulfillment service unique identifier
        explode: false
        in: path
        name: fs_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Shop service unique identifier
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "UNIX timestamp of date (hour, min, sec) from which the order\
          \ details are requested. Max Range per request 31 Days"
        explode: true
        in: query
        name: from_date
        required: true
        schema:
          type: string
        style: form
      - description: "UNIX timestamp of date (hour, min, sec) to which the order details\
          \ are requested. Max Range per request 31 Days"
        explode: true
        in: query
        name: to_date
        required: true
        schema:
          type: string
        style: form
      - description: Determine which page the order list should start. Start from
          1. You can get the next page when the previous page has have_next_page value
          true
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Determine how many orders will be shown per page. The maximum
          value is 500
        explode: true
        in: query
        name: per_page
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: When the value is 1 then data will be send as files with .xls
          extension
        explode: true
        in: query
        name: export
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSaldoHistory_200_response'
          description: OK
      tags:
      - Finance
components:
  parameters:
    fs_id:
      description: Fulfillment service unique identifier
      explode: false
      in: path
      name: fs_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    shop_id:
      description: Shop service unique identifier
      explode: false
      in: path
      name: shop_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    msg_id:
      description: Message service unique identifier
      explode: false
      in: path
      name: msg_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    order_id:
      description: Order service unique identifier
      explode: false
      in: path
      name: order_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    product_id:
      description: Product unique identifier
      explode: false
      in: path
      name: product_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
  schemas:
    WebhookOrderNotification:
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        order_id:
          description: Order unique identifier
          format: int64
          type: integer
        accept_partial:
          description: Flag which determines if the order is partially accepted
          type: boolean
        invoice_num:
          description: Invoice reference number
          type: string
        products:
          description: Products data
          items:
            $ref: '#/components/schemas/WebhookOrderNotification_products_inner'
          type: array
        customer:
          $ref: '#/components/schemas/WebhookOrderNotification_customer'
        recipient:
          $ref: '#/components/schemas/WebhookOrderNotification_recipient'
        shop_id:
          description: Shop unique identifier
          format: int64
          type: integer
        warehouse_id:
          description: Warehouse unique identifier
          format: int64
          type: integer
        shop_name:
          description: Shop name
          type: string
        payment_id:
          description: Payment unique identifier
          format: int64
          type: integer
        logistics:
          $ref: '#/components/schemas/WebhookOrderNotification_logistics'
        amt:
          $ref: '#/components/schemas/WebhookOrderNotification_amt'
        dropshipper_info:
          $ref: '#/components/schemas/WebhookOrderNotification_dropshipper_info'
        voucher_info:
          $ref: '#/components/schemas/WebhookOrderNotification_voucher_info'
        device_type:
          description: User device type
          type: string
        create_time:
          description: Time in UNIX timestamp
          format: int64
          type: integer
        order_status:
          description: Order status
          format: int64
          type: integer
        custom_fields:
          additionalProperties: {}
          description: A map of String to String for custom fields for future
          type: object
        encryption:
          $ref: '#/components/schemas/WebhookOrderNotification_encryption'
        bundle_detail:
          $ref: '#/components/schemas/WebhookOrderNotification_bundle_detail'
        is_plus:
          description: Flag which determines if the order is a Plus order
          type: boolean
      type: object
    WebhookOrderStatusCancellation:
      properties:
        order_status:
          description: Order Status
          format: int64
          type: integer
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        shop_id:
          description: Shop unique identifier
          format: int64
          type: integer
        order_id:
          description: Order unique identifier
          format: int64
          type: integer
        product_details:
          description: List of products
          items:
            $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_product_details_inner'
          type: array
      type: object
    WebhookOrderRequestCancellation:
      properties:
        order_id:
          description: Requested order unique identifier
          format: int64
          type: integer
      type: object
    WebhookStockOverwriteNotification:
      description: |
        Stock Overwrite is notification that show information overwrite main stock into new value.
        This notification will be trigger when :
        - Edit Stock At Seller Dashboard
        - Hit Open API Edit Product Endpoint by change stock into new value
      properties:
        fs_id:
          format: int64
          type: integer
        product_changes_data:
          items:
            $ref: '#/components/schemas/WebhookStockOverwriteNotification_product_changes_data_inner'
          type: array
      type: object
    WebhookStockDecrementNotification:
      description: |
        Stock Decrement is notification that show information decrement stock into new value.
        This notification will be trigger when :
        - New Order with Payment Verified Status (order status 220)
        - Hit Open API Update Stock
        - Created new reserve stock by join campaign
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        product_changes_data:
          description: Products changes data
          items:
            $ref: '#/components/schemas/WebhookStockDecrementNotification_product_changes_data_inner'
          type: array
      type: object
    WebhookStockIncrementNotification:
      description: |
        Stock Increment is notification that show information increment stock into new value.
        This notification will be trigger when :
        - Order Rejected (order status 10)
        - Hit Open API Update Stock)
        - Transfer back remaining reserve stock by the end of campaign
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        product_changes_data:
          description: Products changes data
          items:
            $ref: '#/components/schemas/WebhookStockIncrementNotification_product_changes_data_inner'
          type: array
      type: object
    WebhookStockAlertNotification:
      description: |
        Stock Alert is notification that show information alert stock into new value.
        This notification will be trigger when :
        - Edit Stock Alert At Seller Dashboard
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        product_changes_data:
          description: Products changes data
          items:
            $ref: '#/components/schemas/WebhookStockAlertNotification_product_changes_data_inner'
          type: array
      type: object
    WebhookPriceChangeNotification:
      description: |
        Price Changes is notification that show information new price value.
        This notification will be trigger when :
        - Hit Open API Update Price
        - Edit Price At Seller Dashboard
        - Hit Open API Edit Product Endpoint by change price into new value(
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        product_changes_data:
          description: Products changes data
          items:
            $ref: '#/components/schemas/WebhookPriceChangeNotification_product_changes_data_inner'
          type: array
      type: object
    WebhookProductStatusChangeNotification:
      description: |
        Status Changes is notification that show information new product status value.
        This notification will be trigger when :
        - Hit Open API Update Stock
        - Hit Open API Set Active Product
        - Hit Open API Set Inactive Product
        - Hit Open API Set Delete Product
        - Edit Status At Seller Dashboard
        - Hit Open API Edit Product Endpoint by change status into new value
      properties:
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        product_changes_data:
          description: Products changes data
          items:
            $ref: '#/components/schemas/WebhookProductStatusChangeNotification_product_changes_data_inner'
          type: array
      type: object
    WebhookProductCreation:
      description: "This notification will be trigger when using Create Product V2.0.[https://developer.tokopedia.com/openapi/guide/api-reference/tokopedia/product-api/create-product]"
      properties:
        upload_id:
          description: Upload id of the product to check Notification
          format: int64
          type: integer
        shop_id:
          description: Shop unique identifier
          format: int64
          type: integer
        user_id:
          description: User unique identifier
          format: int64
          type: integer
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        status:
          type: string
        total_data:
          format: int64
          type: integer
        success_row_data:
          items:
            $ref: '#/components/schemas/WebhookProductCreation_success_row_data_inner'
          type: array
      type: object
    WebhookProductEdit:
      description: "This notification will be trigger when using Edit Product V2.0.[https://developer.tokopedia.com/openapi/guide/api-reference/tokopedia/product-api/edit-product]"
      properties:
        upload_id:
          description: Upload id of the product to check Notification
          format: int64
          type: integer
        shop_id:
          description: Shop unique identifier
          format: int64
          type: integer
        user_id:
          description: User unique identifier
          format: int64
          type: integer
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        status:
          type: string
        total_data:
          format: int64
          type: integer
        success_rows_data:
          items:
            $ref: '#/components/schemas/WebhookProductCreation_success_row_data_inner'
          type: array
      type: object
    WebhookErrorProductEdit:
      description: "This notification will be trigger when using Edit Product V2.0.[https://developer.tokopedia.com/openapi/guide/api-reference/tokopedia/product-api/edit-product]"
      properties:
        header:
          $ref: '#/components/schemas/WebhookErrorProductEdit_header'
        data:
          $ref: '#/components/schemas/WebhookErrorProductEdit_data'
      type: object
    WebhookActiveSlashPriceNotification:
      description: Active Slash Price is notification that show information of active
        slash prsice event. This notification will be trigger when slash price already
        started.
      properties:
        action:
          default: slash_price_active
          description: Action Type of Active Slash Price Notification
          type: string
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        product_id:
          description: Product unique identifier
          format: int64
          type: integer
        shop_id:
          description: Shop unique identifier
          format: int64
          type: integer
        original_price:
          description: Normal Price
          format: int64
          type: integer
        discounted_price:
          description: New Price When Slash Price Already Started
          format: int64
          type: integer
        discount_percentage:
          description: Discount Percentage
          format: int64
          type: integer
        start_date:
          description: Slash Price Start Time
          type: string
        end_date:
          description: Slash Price End Time
          type: string
      type: object
    WebhookInactiveSlashPriceNotification:
      description: Inactive Slash Price is notification that show information of inactive
        slash price event. This notification will be trigger when slash price already
        ended.
      properties:
        action:
          default: slash_price_inactive
          description: Action Type of Active Slash Price Notification
          type: string
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        product_id:
          description: Product unique identifier
          format: int64
          type: integer
        shop_id:
          description: Shop unique identifier
          format: int64
          type: integer
        original_price:
          description: Normal Price
          format: int64
          type: integer
        discounted_price:
          description: New Price When Slash Price Already Started
          format: int64
          type: integer
        discount_percentage:
          description: Discount Percentage
          format: int64
          type: integer
        start_date:
          description: Slash Price Start Time
          type: string
        end_date:
          description: Slash Price End Time
          type: string
      type: object
    WebhookActiveFlashSaleNotification:
      description: Active Flash Sale is notification that show information of active
        flash sale event. This notification will be trigger when flash sale already
        started.
      properties:
        action:
          default: flash_sale_active
          description: Action Type of Active Flash Sale Notification
          type: string
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        product_id:
          description: Product unique identifier
          format: int64
          type: integer
        shop_id:
          description: Shop unique identifier
          format: int64
          type: integer
        original_price:
          description: Normal Price
          format: int64
          type: integer
        discounted_price:
          description: New Price When Slash Price Already Started
          format: int64
          type: integer
        discount_percentage:
          description: Discount Percentage
          format: int64
          type: integer
        start_date:
          description: Flash Sale Start Time
          type: string
        end_date:
          description: Flash Sale End Time
          type: string
      type: object
    WebhookInactiveFlashSaleNotification:
      description: Inactive Flash Sale is notification that show information of inactive
        flash sale event. This notification will be trigger when flash sale already
        ended.
      properties:
        action:
          default: flash_sale_inactive
          description: Action Type of Active Flash Sale Notification
          type: string
        fs_id:
          description: Fulfillment service unique identifier
          format: int64
          type: integer
        product_id:
          description: Product unique identifier
          format: int64
          type: integer
        shop_id:
          description: Shop unique identifier
          format: int64
          type: integer
        original_price:
          description: Normal Price
          format: int64
          type: integer
        discounted_price:
          description: New Price When Slash Price Already Started
          format: int64
          type: integer
        discount_percentage:
          description: Discount Percentage
          format: int64
          type: integer
        start_date:
          description: Flash Sale Start Time
          type: string
        end_date:
          description: Flash Sale End Time
          type: string
      type: object
    WebhookChatReplyNotification:
      properties:
        msg_id:
          description: Message unique identifier
          format: int64
          type: integer
        buyer_id:
          description: Buyer unique identifier
          format: int64
          type: integer
        message:
          description: Message content
          type: string
        thumbnail:
          description: Chat's Thumbnail
          type: string
        full_name:
          description: Opposite chat user's first name
          type: string
        shop_id:
          description: Shop unique identifier
          format: int64
          type: integer
      type: object
    WebhookProductDiscussionNewQuestion:
      properties:
        fs_id:
          format: int64
          type: integer
        discussion_type:
          default: NewQuestion
          type: string
        discussion_data:
          $ref: '#/components/schemas/WebhookProductDiscussionNewQuestion_discussion_data'
      type: object
    WebhookProductDiscussionNewAnswer:
      properties:
        fs_id:
          format: int64
          type: integer
        discussion_type:
          default: DiscussionAnswer
          type: string
        discussion_data:
          $ref: '#/components/schemas/WebhookProductDiscussionNewAnswer_discussion_data'
      type: object
    Token:
      example:
        access_token: LSPr7x7sRGaewzwZE6IcuA
        token_type: Bearer
        expires_in: 2592000
      properties:
        access_token:
          example: LSPr7x7sRGaewzwZE6IcuA
          type: string
        expires_in:
          example: 2592000
          format: int64
          type: integer
        token_type:
          example: Bearer
          type: string
      type: object
    Header:
      properties:
        process_time:
          example: 5.871520385
          format: double
          type: number
        messages:
          example: Your request has been processed successfully
          type: string
      type: object
    ErrorHeader:
      allOf:
      - $ref: '#/components/schemas/Header'
      - properties:
          reason:
            example: Error Convert number format into string
            type: string
          error_code:
            example: PRD_USC_024
            type: string
        type: object
    BaseErrorResponse:
      properties:
        header:
          $ref: '#/components/schemas/ErrorHeader'
        data:
          type: object
      type: object
    BaseResponse:
      properties:
        header:
          $ref: '#/components/schemas/Header'
      type: object
    ProductBasic:
      properties:
        productID:
          description: Product Unique Identifier
          example: 15245228
          format: int64
          type: integer
        shopID:
          description: Shop Unique Identifier
          example: 480829
          format: int64
          type: integer
        status:
          description: "Product Status (e.g., -2 for Banned, -1 for Pending, 0 for\
            \ Deleted, 1 for Active, 2 for Best (Feature Product), 3 for Inactive\
            \ (Warehouse))"
          example: 1
          format: int64
          type: integer
        Name:
          description: Product Name
          example: hxh wallpaper best la zzzz
          type: string
        condition:
          description: "Product Condition (e.g., 1 for New, 2 for Used)"
          example: 1
          format: int64
          type: integer
        childCategoryID:
          description: Product Category Unique Identifier
          example: 1828
          format: int64
          type: integer
        shortDesc:
          description: Product Description
          example: Best wallpaper for hxh
          type: string
      type: object
    ProductPrice:
      properties:
        value:
          description: Product Price Value
          example: 3000
          format: int64
          type: integer
        currency:
          description: Product Price Currency
          example: 1
          format: int64
          type: integer
        LastUpdateUnix:
          description: Product Price Last Updated timer
          example: 1557981264
          format: int64
          type: integer
        idr:
          description: Price Value
          example: 3000
          format: int64
          type: integer
      type: object
    ProductWeight:
      properties:
        value:
          description: Product Weight Value
          example: 5
          format: int64
          type: integer
        unit:
          description: "Weight (e.g., 1 for Gram, 2 for Kilogram)"
          example: 1
          format: int64
          type: integer
      type: object
    ProductStock:
      properties:
        useStock:
          example: true
          type: boolean
        value:
          description: Product Total Stock
          example: 10
          format: int64
          type: integer
      type: object
    ProductStockWording:
      allOf:
      - $ref: '#/components/schemas/ProductStock'
      - properties:
          stockWording:
            description: Product Stock Wording (Description)
            example: <b>Stok hampir habis!</b> Tersisa &lt;20
            type: string
        type: object
    ProductVariant:
      properties:
        isParent:
          description: Is Product Variant Parent?
          example: true
          type: boolean
        isVariant:
          description: Is Product Has Variants?
          example: true
          type: boolean
        childrenID:
          description: List of Product Variant ID
          example:
          - 15245978
          - 15245979
          items:
            format: int64
            type: integer
          type: array
      type: object
    ProductMenu:
      properties:
        id:
          description: Etalase Unique Identifier
          example: 1405065
          format: int64
          type: integer
        Name:
          description: Etalase Name
          example: Wallpapers
          type: string
      type: object
    ProductPreOrder:
      properties:
        duration:
          type: boolean
        unit:
          format: int64
          type: integer
        day:
          format: int64
          type: integer
      type: object
    ProductExtraAttribute:
      properties:
        minOrder:
          description: Minimum Order
          example: 1
          format: int64
          type: integer
        lastUpdateCategory:
          description: Product Category Last Updated time
          example: 1554708202
          format: int64
          type: integer
        isEligibleCOD:
          description: Is Product Eligible for COD?
          example: true
          type: boolean
        isOnCampaign:
          description: Is Product on Campaign?
          example: true
          type: boolean
      type: object
    ProductWholesalePrice:
      properties:
        value:
          description: Product Price Value
          example: 10000
          format: int64
          type: integer
        currency:
          description: Product Price Currency
          example: 1
          format: int64
          type: integer
        idr:
          description: Price Value
          example: 10000
          format: int64
          type: integer
      type: object
    ProductWholesale:
      properties:
        price:
          $ref: '#/components/schemas/ProductWholesalePrice'
        minQuantity:
          example: 2
          format: int64
          type: integer
        maxQuantity:
          example: 2
          format: int64
          type: integer
      type: object
    ProductCategoryTree:
      properties:
        id:
          description: Category Unique Identifier
          example: 1759
          format: int64
          type: integer
        Name:
          description: Category Name
          example: Fashion Pria
          type: string
        title:
          description: Category Title
          example: Fashion Pria
          type: string
        breadcrumbURL:
          description: Category URL
          example: https://staging.tokopedia.com/p/fashion-pria
          type: string
      type: object
    ProductPicture:
      properties:
        picID:
          description: Image Unique Identifier
          example: 21189631
          format: int64
          type: integer
        fileName:
          description: Image File Name
          example: 5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg
          type: string
        filePath:
          description: Image Path
          example: product-1/2019/3/12/5510908
          type: string
        status:
          description: Image Status
          example: 2
          format: int64
          type: integer
        OriginalURL:
          description: Original Image URL
          example: https://ecs7.tokopedia.net/img/cache/700/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg
          type: string
        ThumbnailURL:
          description: Thumbnail Image URL
          example: https://ecs7.tokopedia.net/img/cache/200-square/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg
          type: string
        width:
          description: Image Width Size
          example: 1920
          format: int64
          type: integer
        height:
          description: Image Height
          example: 1080
          format: int64
          type: integer
        URL300:
          description: Image URL
          example: https://ecs7.tokopedia.net/img/cache/300/product-1/2019/3/12/5510908/5510908_a4b5f7a2-2451-45f2-8a83-979808fe28d3_1920_1080.jpg
          type: string
      type: object
    ProductGMStat:
      properties:
        transactionSuccess:
          example: 3
          format: int64
          type: integer
        transactionReject:
          example: 69
          format: int64
          type: integer
        countSold:
          example: 3
          format: int64
          type: integer
      type: object
    ProductStats:
      properties:
        countView:
          example: 163
          format: int64
          type: integer
      type: object
    ProductOther:
      properties:
        sku:
          description: Product SKU Name
          example: "12345"
          type: string
        url:
          description: Product URL (website)
          example: https://staging.tokopedia.com/mattleeshoppe/hxh-wallpaper-best-la-zzzz
          type: string
        mobileURL:
          description: Product URL (mobile phone)
          example: https://m-staging.tokopedia.com/mattleeshoppe/hxh-wallpaper-best-la-zzzz
          type: string
      type: object
    ProductCampaign:
      properties:
        StartDate:
          description: Campaign Start Date (if any)
          example: 0001-01-01T00:00:00Z
          type: string
        EndDate:
          description: Campaign End Date (if any)
          example: 0001-01-01T00:00:00Z
          type: string
      type: object
    ProductVolume:
      properties:
        length:
          description: Product Length
          format: int64
          type: integer
        width:
          description: Product Width
          format: int64
          type: integer
        height:
          description: Product Height
          format: int64
          type: integer
      type: object
    ProductBundle:
      properties:
        bundleID:
          description: Bundle Unique Identifier
          format: int64
          type: integer
        Name:
          description: Bundle Name
          type: string
        Type:
          description: Bundle Type
          format: int64
          type: integer
        status:
          description: Bundle Status
          format: int64
          type: integer
        shopID:
          description: Shop Unique Identifier
          format: int64
          type: integer
        startTimeUnix:
          description: Bundle Start Time
          format: int64
          type: integer
        stopTimeUnix:
          description: Bundle End Time
          format: int64
          type: integer
      type: object
    ProductWarehouse:
      properties:
        productID:
          format: int64
          type: integer
        warehouseID:
          format: int64
          type: integer
        price:
          $ref: '#/components/schemas/ProductPrice'
        stock:
          $ref: '#/components/schemas/ProductStock'
        bundle:
          $ref: '#/components/schemas/ProductBundle'
      type: object
    Product:
      properties:
        basic:
          $ref: '#/components/schemas/ProductBasic'
        price:
          $ref: '#/components/schemas/ProductPrice'
        weight:
          $ref: '#/components/schemas/ProductWeight'
        stock:
          $ref: '#/components/schemas/ProductStockWording'
        main_stock:
          description: Product Stock (Not Reserved)
          example: 7
          format: int64
          type: integer
        reserve_stock:
          description: "Product Stock that Reserved (ex: FlashSale)"
          example: 3
          format: int64
          type: integer
        variant:
          $ref: '#/components/schemas/ProductVariant'
        menu:
          $ref: '#/components/schemas/ProductMenu'
        preorder:
          $ref: '#/components/schemas/ProductPreOrder'
        extraAttribute:
          $ref: '#/components/schemas/ProductExtraAttribute'
        wholesale:
          items:
            $ref: '#/components/schemas/ProductWholesale'
          type: array
        categoryTree:
          items:
            $ref: '#/components/schemas/ProductCategoryTree'
          type: array
        pictures:
          items:
            $ref: '#/components/schemas/ProductPicture'
          type: array
        GMStats:
          $ref: '#/components/schemas/ProductGMStat'
        stats:
          $ref: '#/components/schemas/ProductStats'
        other:
          $ref: '#/components/schemas/ProductOther'
        campaign:
          $ref: '#/components/schemas/ProductCampaign'
        volume:
          $ref: '#/components/schemas/ProductVolume'
        warehouses:
          items:
            $ref: '#/components/schemas/ProductWarehouse'
          type: array
      type: object
    GetProductInfoResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - properties:
          data:
            items:
              $ref: '#/components/schemas/Product'
            type: array
        type: object
    CategoryVariantUnitValue:
      properties:
        variant_unit_value_id:
          format: int64
          type: integer
        status:
          format: int64
          type: integer
        value:
          type: string
        equivalent_value_id:
          format: int64
          type: integer
        english_value:
          type: string
        hex:
          type: string
        icon:
          type: string
      type: object
    CategoryVariantUnit:
      properties:
        variant_unit_id:
          format: int64
          type: integer
        status:
          format: int64
          type: integer
        unit_name:
          type: string
        unit_short_name:
          type: string
        unit_values:
          items:
            $ref: '#/components/schemas/CategoryVariantUnitValue'
          type: array
      type: object
    CategoryVariantDetail:
      properties:
        variant_id:
          format: int64
          type: integer
        has_unit:
          format: int64
          type: integer
        identifier:
          type: string
        name:
          type: string
        status:
          format: int64
          type: integer
        units:
          items:
            $ref: '#/components/schemas/CategoryVariantUnit'
          type: array
        is_primary:
          format: int64
          type: integer
      type: object
    CategoryVariant:
      properties:
        category_id:
          format: int64
          type: integer
        variant_id_combinations:
          items:
            items:
              format: int64
              type: integer
            type: array
          type: array
        variant_details:
          items:
            $ref: '#/components/schemas/CategoryVariantDetail'
          type: array
      type: object
    CategoryVariants:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - properties:
          data:
            $ref: '#/components/schemas/CategoryVariant'
        type: object
    VariantOption:
      properties:
        id:
          format: int64
          type: integer
        value:
          type: string
        hex:
          type: string
      type: object
    VariantVariant:
      properties:
        name:
          type: string
        identifier:
          type: string
        unit_name:
          type: string
        position:
          format: int64
          type: integer
        option:
          items:
            $ref: '#/components/schemas/VariantOption'
          type: array
      type: object
    VariantPicture:
      properties:
        original:
          type: string
        thumbnail:
          type: string
      type: object
    VariantCampaign:
      properties:
        is_active:
          type: boolean
        discounted_percentage:
          format: int64
          type: integer
        discounted_price:
          format: int64
          type: integer
        discounted_price_fmt:
          type: string
        campaign_type:
          format: int64
          type: integer
        campaign_type_name:
          type: string
        start_date:
          type: string
        end_date:
          type: string
      type: object
    VariantChildren:
      properties:
        name:
          type: string
        url:
          type: string
        product_id:
          format: int64
          type: integer
        price:
          format: int64
          type: integer
        price_fmt:
          type: string
        stock:
          format: int64
          type: integer
        main_stock:
          format: int64
          type: integer
        reserve_stock:
          format: int64
          type: integer
        sku:
          type: string
        option_ids:
          items:
            format: int64
            type: integer
          type: array
        enabled:
          type: boolean
        is_buyable:
          type: boolean
        is_wishlist:
          type: boolean
        picture:
          $ref: '#/components/schemas/VariantPicture'
        campaign:
          $ref: '#/components/schemas/VariantCampaign'
        always_available:
          type: boolean
        stock_wording:
          type: string
        other_variant_stock:
          type: string
        is_limited_stock:
          type: boolean
      type: object
    Variant:
      properties:
        parent_id:
          description: Variant Parent Unique Identifier
          format: int64
          type: integer
        default_child:
          description: Variant Default Child Identifier
          format: int64
          type: integer
        variant:
          items:
            $ref: '#/components/schemas/VariantVariant'
          type: array
        children:
          items:
            $ref: '#/components/schemas/VariantChildren'
          type: array
      type: object
    GetProductVariantResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - properties:
          data:
            $ref: '#/components/schemas/Variant'
        type: object
    UpdateStockInput:
      example:
        product_id: 0
        sku: sku
        new_stock: 6
      properties:
        sku:
          type: string
        product_id:
          format: int64
          type: integer
        new_stock:
          format: int64
          type: integer
      required:
      - new_stock
      type: object
    BulkUpdateStockInput:
      items:
        $ref: '#/components/schemas/UpdateStockInput'
      type: array
    UpdateStockResponse:
      example:
        data:
          failed_rows: 6
          succeed_rows: 5
          failed_rows_data:
          - product_url: product_url
            product_id: 1
            sku: sku
            new_stock: 5
            message: message
          - product_url: product_url
            product_id: 1
            sku: sku
            new_stock: 5
            message: message
        header:
          messages: messages
          process_time: 0.8008281904610115
      properties:
        header:
          $ref: '#/components/schemas/UpdateStockResponse_header'
        data:
          $ref: '#/components/schemas/UpdateStockResponse_data'
      type: object
    getRegisteredWebhooks_200_response_data:
      example:
        order_notification_url: order_notification_url
        order_cancellation_url: order_cancellation_url
        order_status_url: order_status_url
        order_partial_fulfillment_url: order_partial_fulfillment_url
        order_request_cancellation_url: order_request_cancellation_url
        chat_notification_url: chat_notification_url
        campaign_notification_url: campaign_notification_url
        webhook_secret: webhook_secret
        product_changes_url: product_changes_url
        fs_id: 0
      properties:
        fs_id:
          format: int64
          type: integer
        order_notification_url:
          type: string
        order_cancellation_url:
          type: string
        order_status_url:
          type: string
        order_request_cancellation_url:
          type: string
        chat_notification_url:
          type: string
        product_changes_url:
          type: string
        campaign_notification_url:
          type: string
        order_partial_fulfillment_url:
          type: string
        webhook_secret:
          type: string
      type: object
    getRegisteredWebhooks_200_response:
      example:
        error_message:
        - error_message
        - error_message
        data:
          order_notification_url: order_notification_url
          order_cancellation_url: order_cancellation_url
          order_status_url: order_status_url
          order_partial_fulfillment_url: order_partial_fulfillment_url
          order_request_cancellation_url: order_request_cancellation_url
          chat_notification_url: chat_notification_url
          campaign_notification_url: campaign_notification_url
          webhook_secret: webhook_secret
          product_changes_url: product_changes_url
          fs_id: 0
        status: status
      properties:
        data:
          $ref: '#/components/schemas/getRegisteredWebhooks_200_response_data'
        status:
          type: string
        error_message:
          items:
            type: string
          type: array
      type: object
    registerWebhook_request:
      properties:
        fs_id:
          format: int64
          type: integer
        order_notification_url:
          type: string
        order_cancellation_url:
          type: string
        order_status_url:
          type: string
        order_request_cancellation_url:
          type: string
        chat_notification_url:
          type: string
        product_creation_url:
          type: string
        product_changes_url:
          type: string
        campaign_notification_url:
          type: string
        webhook_secret:
          type: string
      required:
      - campaign_notification_url
      - chat_notification_url
      - fs_id
      - order_cancellation_url
      - order_notification_url
      - order_request_cancellation_url
      - order_status_url
      - product_changes_url
      - product_creation_url
      - webhook_secret
      type: object
    registerWebhook_default_response:
      example:
        error_message:
        - error_message
        - error_message
        data: data
        status: status
      properties:
        data:
          type: string
        status:
          type: string
        error_message:
          items:
            type: string
          type: array
      type: object
    getOrderWebhook_200_response_header:
      example:
        reason: reason
        messages: messages
        error_code: error_code
        process_time: 0.8008281904610115
      properties:
        process_time:
          format: double
          type: number
        messages:
          type: string
        reason:
          type: string
        error_code:
          type: string
      type: object
    getOrderWebhook_200_response_data_oneOf_product_details_inner:
      properties:
        id:
          format: int64
          type: integer
        Name:
          type: string
        notes:
          type: string
        currency:
          type: string
        weight:
          format: double
          type: number
        total_weight:
          format: double
          type: number
        price:
          format: int64
          type: integer
        total_price:
          format: int64
          type: integer
        quantity:
          format: int64
          type: integer
        sku:
          type: string
      type: object
    getOrderWebhook_200_response_data_oneOf:
      nullable: true
      properties:
        fs_id:
          format: int64
          type: integer
        order_status:
          format: int64
          type: integer
        order_id:
          format: int64
          type: integer
        shop_id:
          format: int64
          type: integer
        warehouse_id:
          format: int64
          type: integer
        product_details:
          items:
            $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_product_details_inner'
          type: array
      type: object
    getOrderWebhook_200_response_data_oneOf_1_customer:
      properties:
        id:
          format: int64
          type: integer
        Name:
          type: string
        phone:
          type: string
        email:
          type: string
      type: object
    getOrderWebhook_200_response_data_oneOf_1_recipient_address:
      properties:
        address_full:
          type: string
        district:
          type: string
        city:
          type: string
        province:
          type: string
        country:
          type: string
        postal_code:
          type: string
        district_id:
          format: int64
          type: integer
        city_id:
          format: int64
          type: integer
        province_id:
          format: int64
          type: integer
        geo:
          type: string
      type: object
    getOrderWebhook_200_response_data_oneOf_1_recipient:
      properties:
        Name:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_1_recipient_address'
      type: object
    getOrderWebhook_200_response_data_oneOf_1_logistics:
      properties:
        shipping_id:
          format: int64
          type: integer
        district_id:
          format: int64
          type: integer
        city_id:
          format: int64
          type: integer
        province_id:
          format: int64
          type: integer
        geo:
          type: string
        shipping_agency:
          type: string
        service_type:
          type: string
      type: object
    getOrderWebhook_200_response_data_oneOf_1_amt:
      properties:
        ttl_product_price:
          format: int64
          type: integer
        shipping_cost:
          format: int64
          type: integer
        insurance_cost:
          format: int64
          type: integer
        ttl_amount:
          format: int64
          type: integer
        voucher_amount:
          format: int64
          type: integer
        toppoints_amount:
          format: int64
          type: integer
      type: object
    getOrderWebhook_200_response_data_oneOf_1_dropshipper_info:
      properties:
        Name:
          type: string
        phone:
          type: string
      type: object
    getOrderWebhook_200_response_data_oneOf_1_voucher_info:
      properties:
        voucher_code:
          type: string
        voucher_type:
          format: int64
          type: integer
      type: object
    getOrderWebhook_200_response_data_oneOf_1:
      nullable: true
      properties:
        fs_id:
          format: int64
          type: integer
        order_id:
          format: int64
          type: integer
        invoice_ref_num:
          type: string
        products:
          items:
            $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_product_details_inner'
          type: array
        customer:
          $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_1_customer'
        recipient:
          $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_1_recipient'
        shop_id:
          format: int64
          type: integer
        warehouse_id:
          format: int64
          type: integer
        shop_name:
          type: string
        payment_id:
          format: int64
          type: integer
        payment_date:
          type: string
        logistics:
          $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_1_logistics'
        amt:
          $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_1_amt'
        dropshipper_info:
          $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_1_dropshipper_info'
        voucher_info:
          $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_1_voucher_info'
        device_type:
          type: string
        create_time:
          type: string
        order_status:
          format: int64
          type: integer
        custom_fields:
          additionalProperties: true
          type: object
        accept_partial:
          type: boolean
      type: object
    getOrderWebhook_200_response_data:
      oneOf:
      - $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf'
      - $ref: '#/components/schemas/getOrderWebhook_200_response_data_oneOf_1'
    getOrderWebhook_200_response:
      example:
        data: null
        header:
          reason: reason
          messages: messages
          error_code: error_code
          process_time: 0.8008281904610115
      properties:
        header:
          $ref: '#/components/schemas/getOrderWebhook_200_response_header'
        data:
          $ref: '#/components/schemas/getOrderWebhook_200_response_data'
      type: object
    triggerWebhook_request:
      properties:
        order_id:
          format: int64
          type: integer
        type:
          enum:
          - order_status
          - order_notification
          type: string
        url:
          type: string
        is_encrypted:
          type: boolean
      required:
      - is_encrypted
      - order_id
      - type
      - url
      type: object
    triggerWebhook_default_response:
      example:
        data: data
        header:
          reason: reason
          messages: messages
          error_code: error_code
          process_time: 0.8008281904610115
      properties:
        header:
          $ref: '#/components/schemas/getOrderWebhook_200_response_header'
        data:
          nullable: true
          type: string
      type: object
    getListMessage_default_response_header:
      example:
        reason: reason
        messages: messages
        error_code: 6
        process_time: 0.8008281904610115
      properties:
        process_time:
          format: double
          type: number
        messages:
          type: string
        reason:
          type: string
        error_code:
          format: int64
          type: integer
      type: object
    getListMessage_default_response_data_inner_attributes_contact_attributes:
      example:
        thumbnail: thumbnail
        tag: tag
        Name: Name
      properties:
        Name:
          description: User Name
          type: string
        tag:
          description: User Tag
          type: string
        thumbnail:
          description: User thumbnail
          type: string
      type: object
    getListMessage_default_response_data_inner_attributes_contact:
      example:
        role: User
        attributes:
          thumbnail: thumbnail
          tag: tag
          Name: Name
        id: 5
      properties:
        id:
          description: User Unique Identifier
          format: int64
          type: integer
        role:
          description: "User Role, Field role has User, Shop Owner, Shop Admin, and\
            \ Tokopedia Admin."
          enum:
          - User
          - Shop Owner
          - Shop Admin
          - Tokopedia Admin
          type: string
        attributes:
          $ref: '#/components/schemas/getListMessage_default_response_data_inner_attributes_contact_attributes'
      type: object
    getListMessage_default_response_data_inner_attributes:
      example:
        unreads: 7
        last_reply_msg: last_reply_msg
        contact:
          role: User
          attributes:
            thumbnail: thumbnail
            tag: tag
            Name: Name
          id: 5
        read_status: 2
        last_reply_time: 5
        pin_status: 9
      properties:
        contact:
          $ref: '#/components/schemas/getListMessage_default_response_data_inner_attributes_contact'
        last_reply_msg:
          description: Last Reply Message
          type: string
        last_reply_time:
          description: Last Reply Time in UNIX
          format: int64
          type: integer
        read_status:
          description: "Read Status, Field read status is to identify that status\
            \ = 1 is not read yet and status = 2 is already read."
          format: int64
          type: integer
        unreads:
          description: "Unreads Count, Field unreads is the number of unread messages\
            \ in the related message."
          format: int64
          type: integer
        pin_status:
          description: "Pin Status, Field pin_status is for chat pinned or not, when\
            \ pinned it is 1 and for not it is 0."
          format: int64
          type: integer
      type: object
    getListMessage_default_response_data_inner:
      example:
        attributes:
          unreads: 7
          last_reply_msg: last_reply_msg
          contact:
            role: User
            attributes:
              thumbnail: thumbnail
              tag: tag
              Name: Name
            id: 5
          read_status: 2
          last_reply_time: 5
          pin_status: 9
        msg_id: 1
        message_key: message_key
      properties:
        message_key:
          description: "Message Key, Field messages_key is an identic key for related\
            \ buyer and related seller that communicate at the chat."
          type: string
        msg_id:
          description: Message Unique Identifier
          format: int64
          type: integer
        attributes:
          $ref: '#/components/schemas/getListMessage_default_response_data_inner_attributes'
      type: object
    getListMessage_default_response:
      example:
        data:
        - attributes:
            unreads: 7
            last_reply_msg: last_reply_msg
            contact:
              role: User
              attributes:
                thumbnail: thumbnail
                tag: tag
                Name: Name
              id: 5
            read_status: 2
            last_reply_time: 5
            pin_status: 9
          msg_id: 1
          message_key: message_key
        - attributes:
            unreads: 7
            last_reply_msg: last_reply_msg
            contact:
              role: User
              attributes:
                thumbnail: thumbnail
                tag: tag
                Name: Name
              id: 5
            read_status: 2
            last_reply_time: 5
            pin_status: 9
          msg_id: 1
          message_key: message_key
        header:
          reason: reason
          messages: messages
          error_code: 6
          process_time: 0.8008281904610115
      properties:
        header:
          $ref: '#/components/schemas/getListMessage_default_response_header'
        data:
          items:
            $ref: '#/components/schemas/getListMessage_default_response_data_inner'
          nullable: true
          type: array
      type: object
    getListReply_200_response_data_inner:
      example:
        msg: msg
        is_opposite: true
        is_first_reply: true
        role: User
        reply_time: 1
        message_is_read: true
        read_status: 5
        sender_name: sender_name
        sender_id: 6
        reply_id: 5
        read_time: 2
        is_reported: true
        attachment_id: 9
        msg_id: 0
        status: 7
      properties:
        msg_id:
          format: int64
          type: integer
        sender_id:
          format: int64
          type: integer
        role:
          enum:
          - User
          type: string
        msg:
          type: string
        reply_time:
          format: int64
          type: integer
        reply_id:
          format: int64
          type: integer
        sender_name:
          type: string
        read_status:
          format: int64
          type: integer
        read_time:
          format: int64
          type: integer
        status:
          format: int64
          type: integer
        attachment_id:
          format: int64
          type: integer
        message_is_read:
          type: boolean
        is_opposite:
          type: boolean
        is_first_reply:
          type: boolean
        is_reported:
          type: boolean
      type: object
    getListReply_200_response:
      example:
        data:
        - msg: msg
          is_opposite: true
          is_first_reply: true
          role: User
          reply_time: 1
          message_is_read: true
          read_status: 5
          sender_name: sender_name
          sender_id: 6
          reply_id: 5
          read_time: 2
          is_reported: true
          attachment_id: 9
          msg_id: 0
          status: 7
        - msg: msg
          is_opposite: true
          is_first_reply: true
          role: User
          reply_time: 1
          message_is_read: true
          read_status: 5
          sender_name: sender_name
          sender_id: 6
          reply_id: 5
          read_time: 2
          is_reported: true
          attachment_id: 9
          msg_id: 0
          status: 7
        header:
          reason: reason
          messages: messages
          error_code: 6
          process_time: 0.8008281904610115
      properties:
        header:
          $ref: '#/components/schemas/getListMessage_default_response_header'
        data:
          items:
            $ref: '#/components/schemas/getListReply_200_response_data_inner'
          nullable: true
          type: array
      type: object
    initiateChat_200_response_data_contact_attributes:
      example:
        thumbnail: thumbnail
        is_official: true
        is_gold: true
        tag: tag
        Name: Name
      properties:
        Name:
          type: string
        tag:
          type: string
        thumbnail:
          type: string
        is_gold:
          description: Field is_gold is to identify Seller Gold Merchant (Power Merchant)
            or not.
          type: boolean
        is_official:
          type: boolean
      type: object
    initiateChat_200_response_data_contact:
      example:
        role: User
        attributes:
          thumbnail: thumbnail
          is_official: true
          is_gold: true
          tag: tag
          Name: Name
        id: 0
[...]
